{set:
    $myCartObj  = new Cart();
    $myCartInfo = $myCartObj->getMyCart();    
}<!DOCTYPE html>
<html>
<head>
<!--[if lt IE 8]><script type="text/javascript">window.document.location.href = "/browser.html";</script><![endif]-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit">
<link type="image/x-icon" href="skin/res/favicon.ico?125465" rel="icon">
<meta property="qc:admins" content="352014713170263757" />
<!-- 下面的两个link目的是为ios设备提供桌面图标 
<link rel="apple-touch-icon-precomposed" href="icon_ios_120.png?fox5df4a400d7">
<link rel="apple-touch-startup-image" href="icon_ios_120.png">-->
<!--CSS FILE-->
<link href="skin/res/global.css" media="screen" rel="stylesheet" type="text/css">
<!--JS FILE-->
<script src="../skin/js/jquery/jquery-3.1.1.min.js?20161121"></script>