<div class="footer_bottom">
      <div class="footer_bottom_container">
        <div class="fbc_menu">
          <ul>
            <li> <a class="link_a" href="#" rel="nofollow">关于我们</a> <span></span> </li>
            <li> <a class="link_a" href="#" rel="nofollow">联系我们</a> <span></span> </li>
            <li> <a class="link_a" href="#" rel="nofollow">友情链接</a> <span></span> </li>
            <li> <a class="link_a" href="#" rel="nofollow">帮助中心</a> <span></span> </li>
            <li> <a class="link_a" href="#" rel="nofollow">意见反馈</a> <span></span> </li>
            <li> <a class="link_a" href="#" rel="nofollow">高薪聘请</a> <span></span> </li>
            <li> <a class="link_a" href="#" rel="nofollow">法律声明</a> </li>
          </ul>
        </div>
        <div class="fbc_copyright">免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。</div>
        <div class="fbc_copyright">© 2015-2016 Itaohz.com 淘黄州 保留所有权利</div>
        <div class="fbc_icp">淘黄州 <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"> 鄂ICP备15000956号</a></div>
        <div class="fbc_icpico"> <a href="http://szcert.ebs.org.cn/d6c3aa01-b00f-4d32-aef4-70ad63021bab" target="_blank" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" rel="nofollow"><span class="fbc_ico1" style="display: none;"></span></a> <a href="http://www.sznet110.gov.cn/netalarm/index.jsp" target="_blank" rel="nofollow"><span class="fbc_ico2"></span></a> <a href="http://www.sznet110.gov.cn/webrecord/innernet/Welcome.jsp?bano=4403101010155" target="_blank" rel="nofollow"><span class="fbc_ico3"></span></a> <a href="https://search.szfw.org/cert/l/CX20140929005207005275" target="_blank" rel="nofollow"><span class="fbc_ico4"></span></a> </div>
      </div>
    </div>
    