<div class="topbannerFrame">
  <figure>
    <div class="find-company-topbanner"> <img src="http://img.to8to.com/wap/v2/company/com_background_9.jpg">
      <div class="find-company-logo">
        <figure><img src="{webroot:$this->company['logo']}" alt="{$this->company['name']}"></figure>
      </div>
      <h1>{$this->company['name']}</h1>
      <p>已有<span>0</span>人咨询</p>
    </div>
  </figure>
</div>
<nav>
  <ul class="find-company-nav clearfix">
    <li><a href="{url:v_deco/company_info/id/$this->company['id']}" class="">首页</a></li>
    <li><a class="click-point active" data-point="2_5_2_1" href="{url:v_deco/company_designer_works/id/$this->company['id']}">设计方案</a></li>
    <li><a href="{url:v_deco/company_designer/id/$this->company['id']}" class="click-point" data-point="2_5_3_1">设计团队</a></li>
    <li><a class="click-point" data-point="2_5_4_1" href="{url:v_deco/company_comments/id/$this->company['id']}">业主评论</a></li>
  </ul>
</nav>
<ul class="dsger-productions">
  {foreach:items=$this->designer_works}
  <li>
    <figure> <a href="{url:v_deco/designer_works/id/$item['id']}"> <img class="lazy" alt="{$item['name']}" src="{webroot:$item['logo']}" style="display: block;"></a>
      <figcaption>
        <h4>{$item['name']}</h4>
        <ul>
          <li>{$item['style']}</li>
          <li>{$item['area_size']}平米</li>
          <li>{$item['price']}</li> 
          <li>{$item['building']}</li>
        </ul>
      </figcaption>
    </figure>
  </li>
  {/foreach}
</ul>
<link rel="stylesheet" href="../skin/company_info/findcompany.css">
