<header>
  <ul id="menu">
    <li> <span class="current-condition">空间</span> <i class="icon-arrow"></i>
      <div class="submenu">
        <ul class="clearfix ">
          <li class="active"> <a href="/xiaoguotu/meitu/" class="needsclick">不限</a> </li>
          <li> <a href="/xiaoguotu/list-h1s1i0" class="needsclick">客厅</a> </li>
          <li> <a href="/xiaoguotu/list-h1s2i0" class="needsclick">卧室</a> </li>
          <li> <a href="/xiaoguotu/list-h1s3i0" class="needsclick">餐厅</a> </li>
          <li> <a href="/xiaoguotu/list-h1s4i0" class="needsclick">厨房</a> </li>
          <li> <a href="/xiaoguotu/list-h1s5i0" class="needsclick">卫生间</a> </li>
          <li> <a href="/xiaoguotu/list-h1s6i0" class="needsclick">阳台</a> </li>
          <li> <a href="/xiaoguotu/list-h1s7i0" class="needsclick">书房</a> </li>
          <li> <a href="/xiaoguotu/list-h1s8i0" class="needsclick">玄关</a> </li>
          <li> <a href="/xiaoguotu/list-h1s10i0" class="needsclick">儿童房</a> </li>
          <li> <a href="/xiaoguotu/list-h1s11i0" class="needsclick">衣帽间</a> </li>
          <li> <a href="/xiaoguotu/list-h1s12i0" class="needsclick">花园</a> </li>
        </ul>
      </div>
    </li>
    <li> <span class="current-condition">局部</span> <i class="icon-arrow"></i>
      <div class="submenu">
        <ul class="clearfix ">
          <li class="active"> <a href="/xiaoguotu/meitu/" class="needsclick">不限</a> </li>
          <li> <a href="/xiaoguotu/list-h6s336i0" class="needsclick">背景墙</a> </li>
          <li> <a href="/xiaoguotu/list-h6s16i0" class="needsclick">吊顶</a> </li>
          <li> <a href="/xiaoguotu/list-h6s14i0" class="needsclick">隔断</a> </li>
          <li> <a href="/xiaoguotu/list-h6s9i0" class="needsclick">窗帘</a> </li>
          <li> <a href="/xiaoguotu/list-h6s340i0" class="needsclick">飘窗</a> </li>
          <li> <a href="/xiaoguotu/list-h6s33i0" class="needsclick">榻榻米</a> </li>
          <li> <a href="/xiaoguotu/list-h6s17i0" class="needsclick">橱柜</a> </li>
          <li> <a href="/xiaoguotu/list-h6s343i0" class="needsclick">博古架</a> </li>
          <li> <a href="/xiaoguotu/list-h6s333i0" class="needsclick">阁楼</a> </li>
          <li> <a href="/xiaoguotu/list-h6s249i0" class="needsclick">隐形门</a> </li>
          <li> <a href="/xiaoguotu/list-h6s21i0" class="needsclick">吧台</a> </li>
          <li> <a href="/xiaoguotu/list-h6s22i0" class="needsclick">酒柜</a> </li>
          <li> <a href="/xiaoguotu/list-h6s23i0" class="needsclick">鞋柜</a> </li>
          <li> <a href="/xiaoguotu/list-h6s24i0" class="needsclick">衣柜</a> </li>
          <li> <a href="/xiaoguotu/list-h6s19i0" class="needsclick">窗户</a> </li>
          <li> <a href="/xiaoguotu/list-h6s20i0" class="needsclick">相片墙</a> </li>
          <li> <a href="/xiaoguotu/list-h6s18i0" class="needsclick">楼梯</a> </li>
          <li> <a href="/xiaoguotu/list-h6s359i0" class="needsclick">其它</a> </li>
        </ul>
      </div>
    </li>
    <li> <span class="current-condition">风格</span> <i class="icon-arrow"></i>
      <div class="submenu">
        <ul class="clearfix ">
          <li class="active"> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=&amp;a9=0" class="needsclick">不限</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=13&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">简约</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=15&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">现代</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=4&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">中式</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=2&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">欧式</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=9&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">美式</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=11&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">田园</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=6&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">新古典</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=0&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">混搭</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=12&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">地中海</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=8&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">东南亚</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=17&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">日式</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=18&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">宜家</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=19&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">北欧</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=20&amp;a7=&amp;a8=&amp;a9=0" rel="nofollow" class="needsclick">简欧</a> </li>
        </ul>
      </div>
    </li>
    <li> <span class="current-condition">颜色</span> <i class="icon-arrow"></i>
      <div class="submenu color-submenu">
        <ul class="clearfix ">
          <li class="active first"> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=&amp;a8=&amp;a9=0" class="needsclick">不限</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=1&amp;a8=&amp;a9=0" rel="nofollow" title="白色" style="background-color:#f6f8f8" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=12&amp;a8=&amp;a9=0" rel="nofollow" title="米色" style="background-color:#EDDDCE" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=4&amp;a8=&amp;a9=0" rel="nofollow" title="黄色" style="background-color:#EED047" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=6&amp;a8=&amp;a9=0" rel="nofollow" title="橙色" style="background-color:#f0924b" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=3&amp;a8=&amp;a9=0" rel="nofollow" title="红色" style="background-color:#df394c" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=7&amp;a8=&amp;a9=0" rel="nofollow" title="粉色" style="background-color:#f17e94" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=5&amp;a8=&amp;a9=0" rel="nofollow" title="绿色" style="background-color:#bfd244" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=8&amp;a8=&amp;a9=0" rel="nofollow" title="蓝色" style="background-color:#689cd2" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=9&amp;a8=&amp;a9=0" rel="nofollow" title="灰色" style="background-color:#999999" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=2&amp;a8=&amp;a9=0" rel="nofollow" title="黑色" style="background-color:#111111" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=10&amp;a8=&amp;a9=0" rel="nofollow" title="紫色" style="background-color:#8d6dac" class="needsclick">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=13&amp;a8=&amp;a9=0" class="genBtn needsclick" rel="nofollow" title="彩色">&nbsp;</a> </li>
          <li> <a href="/xiaoguotu/list.php?a1=0&amp;a2=1&amp;a3=&amp;a4=&amp;a5=&amp;a6=&amp;a7=14&amp;a8=&amp;a9=0" rel="nofollow" title="咖啡色" style="background-color:#AA7F52" class="needsclick">&nbsp;</a> </li>
        </ul>
      </div>
    </li>
  </ul>
  <div id="overlay"></div>
</header>
<div class="jwaterfall">
  <div class="jwf-col" id="jwf-col"></div>
</div>
<div class="fs_gallery hide">
  <div class="fs_gallery_close"></div>
  <div class="fs_gallery_shuft">
    <div class="fs_gallery_shuft_item"></div>
  </div>
</div>
<link rel="stylesheet" href="../skin/effectpic/xgt.min.css">
<script type="text/javascript">
var gallery = $(".fs_gallery_shuft_item");
var page=1,col = $("#jwf-col"),isget=false,i=0;
var urlList = [];
function loadMore(){
	if(isget==true)return;
	isget = true;
	col.append('<div class="preload"></div>');
	$.ajax({
		type: 'GET',
		url: '{url:v_deco/effectpic_json?$_SERVER["QUERY_STRING"]}',
		cache: false,
		data: {'page': ++page},
		dataType:'json',
		timeout: 60000,
		success: function(data){
			$(data).each(function(index, e) {
				var el = e.img_list.split(",");
				var a = $('<a href="javascript:;"></a>').appendTo(col);
				var ap = $("<p></p>").appendTo(a);
				$(el).each(function(index, element) {
					ap.append('<div style="background-image:url({url:}'+element+')" data-url="{url:}'+element+'"></div>'); 
					urlList.push("{url:}"+ element); 
                    
                });
				a.append('<em class="jwf-star">'+el.length+'</em><span>'+e.name+'</span>');       
			}); 
			col.find(".preload").remove();isget = false;
		},
		error: function(){col.find(".preload").remove();} 
	}); 

}  
$(document).ready(function(){  
    loadMore();
	{if:$this->config["iswechat"]}
	col.on("click","a",function(){
		 //showimg()
		wx.previewImage({
			current:$(this).find("div").data("url"), // 当前显示图片的http链接
			urls: urlList // 需要预览的图片http链接列表
		});
	});
	{/if}
});   
  
$(window).scroll(function(){  
    // 当滚动到最底部以上100像素时， 加载新内容  
    if ($(document).height() - $(this).scrollTop() - $(this).height()<250) loadMore();
});
/*function showimg(){
	gallery.css("margin-left",0);i<0 && (i=0);
	var items = col.find("a").eq(i).data("url");
	gallery.css("background-image","url("+items+")")
};
var touch = $(".fs_gallery_shuft");
var startX, startY, endX, endY;
touch.on("touchstart", function(){
	 event.preventDefault();//取消事件的默认行为
	 var touch = event.touches[0];
	   startY = touch.pageY;
	   startX = touch.pageX;

 });

touch.on("touchmove",function(){
	  event.preventDefault();
	   var touch = event.touches[0];
	   //endY = (startY - touch.pageY);
	  endX = touch.pageX;
	  endY = touch.pageY;
	  gallery.css("margin-left",(endX-startX))

 });

touch.on("touchend",function(){
  event.preventDefault();
  //alert(startX - endX)
	 if ((startX - endX) > 50){
		 i++;showimg()
		 }
	 if ((startX - endX) < -50){
		 i--;showimg()
		 }

 });
*/

</script> 
