<style type="text/css">
.zxlc-index-wrap {background-color: #f7f7f7; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.zxlc-index-wrap a:active, .zxlc-index-wrap a:focus { color: #34c083; }
.zxlc-index-img-wrap, .zxlc-index-step { position: relative; }
.zxlc-index-img-wrap img, .zxlc-index-step-bg { position: absolute; top: 0; left: 0; width: 100%; height: auto; }
.zxlc-index-banner { padding: 20.3125% 0; }
.zxlc-index-step > h2, .zxlc-index-step > li, .zxlc-index-step ul li { position: absolute; }
.zxlc-index-step1 { padding: 64.0625% 0; background-color: #fff; }
.zxlc-index-step2 { padding: 96.875% 0; background-color: #fafafa; }
.zxlc-index-step3 { padding: 47.8125% 0; background-color: #fff; }
.zxlc-index-step > h2 { padding-bottom: 10px; border-bottom: 1px solid #f4f5f7; width: 77.5%; }
.zxlc-index-step > h2 em { font-size: 20px; line-height: 22px; color: #333333; font-weight: bold; margin-left: -10px; }
.zxlc-index-step > h2 span { font-size: 12px; color: #333; line-height: 14px; }
.zxlc-index-step ul h3 { font-size: 16px; line-height: 18px; color: #333333; border-bottom: 1px solid #333; float: left; margin-bottom: 3px; }
.zxlc-index-step ul p { font-size: 12px; line-height: 14px; color: #999999; clear: both; }
.posLeft h3, #step1-h h3, #step1-1 h3, #step1-3 h3, #step1-5 h3, #step2-1 h3, #step2-3 h3, #step2-5 h3, #step2-7 h3, #step3-2 h3 { float: left; text-align: left; }
.posLeft p, #step1-h p, #step1-1 p, #step1-3 p, #step1-5 p, #step2-1 p, #step2-3 p, #step2-5 p, #step2-7 p, #step3-2 p { text-align: left; }
.posRight h3, #step1-2 h3, #step1-4 h3, #step2-h h3, #step2-2 h3, #step2-4 h3, #step2-6 h3, #step2-8 h3, #step3-h h3, #step3-1 h3 { float: right; text-align: right; }
.posRight p, #step1-2 p, #step1-4 p, #step2-h p, #step2-2 p, #step2-4 p, #step2-6 p, #step2-8 p, #step3-h p, #step3-1 p { text-align: right; }
#step1-h { top: 7.20461%; left: 18.4375%; }
#step1-1 { top: 17.57925%; left: 23.75%; }
#step1-2 { top: 33.86167%; right: 24.53125%; }
#step1-3 { top: 50.43228%; left: 23.75%; }
#step1-4 { top: 66.28242%; right: 24.53125%; }
#step1-5 { top: 83.57349%; left: 23.75%; }
#step2-h { top: 4.57038%; right: 4.6875%; text-align: left; }
#step2-1 { top: 13.80256%; left: 24.53125%; }
#step2-2 { top: 24.22303%; right: 23.75%; }
#step2-3 { top: 34.73492%; left: 24.53125%; }
#step2-4 { top: 45.70384%; right: 23.75%; }
#step2-5 { top: 56.21572%; left: 24.53125%; }
#step2-6 { top: 66.72761%; right: 23.75%; }
#step2-7 { top: 77.69653%; left: 24.53125%; }
#step2-8 { top: 88.20841%; right: 24.53125%; }
#step3-h { top: 7.84314%; right: 18.75%; text-align: right; }
#step3-1 { top: 24.34641%; right: 24.53125%; }
#step3-2 { top: 44.93464%; left: 40.625%; }
</style>
<section class="zxlc-index-wrap">
  <section class="zxlc-index-img-wrap zxlc-index-banner"> <img src="skin/gonglve/zxlc-idx-banner.png?v20150919" width="100%" height="auto"> </section>
  <ul>
    <li class="zxlc-index-step zxlc-index-step1"> <img class="zxlc-index-step-bg" src="skin/gonglve/zxlc-idx-setp1.png?v20150914" width="100%" height="auto">
      <h2 id="step1-h"><em>「装修前」</em><span>约10-15天</span></h2>
      <ul>
        <li id="step1-1">
          <h3><a href="{url:v_deco/article_list?tag=16}">1.房产</a></h3>
          <p>汇集最全面房产知识</p>
        </li>
        <li id="step1-2">
          <h3><a href="{url:v_deco/article_list?tag=1}">2.收房</a></h3>
          <p>收房必备小常识</p>
        </li>
        <li id="step1-3">
          <h3><a href="{url:v_deco/article_list?tag=2}">3.设计</a></h3>
          <p>大量装修案例供参考</p>
        </li>
        <li id="step1-4">
          <h3><a href="{url:v_deco/article_list?tag=3}">4.预算</a></h3>
          <p>了解装修报价，谨防预算猫腻</p>
        </li>
        <li id="step1-5">
          <h3><a href="{url:v_deco/article_list?tag=4}">5.合同</a></h3>
          <p>签约装修合同有讲究</p>
        </li>
      </ul>
      <a class="overlay-link overlay-link1-1" href="#"></a> <a class="overlay-link overlay-link1-2" href="#"></a> <a class="overlay-link overlay-link1-3" href="#"></a> <a class="overlay-link overlay-link1-4" href="#"></a> <a class="overlay-link overlay-link1-5" href="#"></a> </li>
    <a name="zxing"></a>
    <li class="zxlc-index-step zxlc-index-step2"> <img class="zxlc-index-step-bg" src="skin/gonglve/zxlc-idx-setp2.png?v20150914" width="100%" height="auto">
      <h2 id="step2-h"><em>「装修中」</em><span>约30-45天</span></h2>
      <ul>
        <li id="step2-1">
          <h3><a href="{url:v_deco/article_list?tag=1}">1.材料</a></h3>
          <p>材料选购进场全靠它</p>
        </li>
        <li id="step2-2">
          <h3><a href="{url:v_deco/article_list?tag=5}">2.拆改</a></h3>
          <p>安全拆改小常识</p>
        </li>
        <li id="step2-3">
          <h3><a href="{url:v_deco/article_list?tag=6}">3.水电</a></h3>
          <p>教您自己就能水电验收</p>
        </li>
        <li id="step2-4">
          <h3><a href="{url:v_deco/article_list?tag=9}">4.防水</a></h3>
          <p>防水施工细节很重要</p>
        </li>
        <li id="step2-5">
          <h3><a href="#">5.泥瓦</a></h3>
          <p>挑砖捡瓦，省钱省料</p>
        </li>
        <li id="step2-6">
          <h3><a href="{url:v_deco/article_list?tag=1}">6.木工</a></h3>
          <p>木工知识全知道</p>
        </li>
        <li id="step2-7">
          <h3><a href="{url:v_deco/article_list?tag=11}">7.油漆</a></h3>
          <p>教您如何省钱挑好料</p>
        </li>
        <li id="step2-8">
          <h3><a href="{url:v_deco/article_list?tag=12}">8.安装收尾</a></h3>
          <p>安装收尾阶段不能马虎</p>
        </li>
      </ul>
      <a class="overlay-link overlay-link2-1" href="#"></a> <a class="overlay-link overlay-link2-2" href="#"></a> <a class="overlay-link overlay-link2-3" href="#"></a> <a class="overlay-link overlay-link2-4" href="#"></a> <a class="overlay-link overlay-link2-5" href="#"></a> <a class="overlay-link overlay-link2-6" href="#"></a> <a class="overlay-link overlay-link2-7" href="#"></a> <a class="overlay-link overlay-link2-8" href="#"></a> </li>
    <li class="zxlc-index-step zxlc-index-step3"> <img class="zxlc-index-step-bg" src="skin/gonglve/zxlc-idx-setp3.png?v20150914" width="100%" height="auto">
      <h2 id="step3-h"><em><a name="zxsuff">「装修后」</a></em><span>约5-10天</span></h2>
      <ul>
        <li id="step3-1">
          <h3><a href="{url:v_deco/article_list?tag=14}">1.软装</a></h3>
          <p>学软装布置一个漂亮的家</p>
        </li>
        <li id="step3-2">
          <h3><a href="{url:v_deco/article_list?tag=15}">2.入住</a></h3>
          <p>风水和环保，一个不能少</p>
        </li>
      </ul>
      <a class="overlay-link overlay-link3-1" href="#"></a> <a class="overlay-link overlay-link3-2" href="#"></a> </li>
  </ul>
</section>
