body, html {
  background: #fff!important; }

.title-h1 {
  padding: 15px;
  color: #666;
  font-size: 14px;
  line-height: 136%;
  border-bottom: solid 1px #e3e3e3; }
.title-h1 img {
  vertical-align: -2px; }
.title-h1 p {
  padding-left: 22px; }
.title-h1 p span, .title-h1 p b {
  border: solid 1px #34c083;
  display: inline-block;
  width: 18px;
  font-size: 12px;
  height: 18px;
  text-align: center;
  line-height: 16px;
  border-radius: 12px;
  margin-right: 5px;
  margin-left: -22px; }
.title-h1 p strong {
  color: #f13641; }
.title-h1 p b {
  position: relative;
  vertical-align: -3px;
  content: ''; }
.title-h1 p b:after {
  position: absolute;
  left: 4px;
  top: 4px;
  content: '';
  width: 8px;
  height: 5px;
  border-left: solid 1px #34c083;
  border-bottom: solid 1px #34c083;
  -webkit-transform: rotate(-45deg); }
.title-h1 span, .title-h1 p b {
  color: #ff8a00; }
.title-h1 ~ h2 {
  margin-left: 52px;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 18px;
  color: #666; }
.title-h1 ~ h2 span, .title-h1 ~ h2 .title-h1 p b, .title-h1 p .title-h1 ~ h2 b {
  color: #34c083; }

.baojiaforms ul {
  margin: 7px 15px;
  display: block; }
.baojiaforms ul li {
  position: relative;
  text-align: left;
  float: left;
  font-size: 15px;
  line-height: 44px; }
.baojiaforms ul li:nth-of-type(1) {
  width: 22%;
  text-align: left; }
.baojiaforms ul li .mm {
  position: absolute;
  right: 10px;
  color: #999;
  font-size: 12px; }
.baojiaforms ul li input[type='radio'] {
  width: 20px;
  height: 20px;
  border: solid 1px #e3e3e3;
  -webkit-appearance: none;
  border-radius: 10px;
  background: none;
  position: absolute;
  left: 5px;
  outline: none;
  z-index: 1;
  top: 9px; }
.baojiaforms ul li img {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 20px;
  height: 20px;
  z-index: 2;
  display: none; }
.baojiaforms ul li:nth-of-type(2) {
  width: 78%;
  text-align: center; }
.baojiaforms ul li:nth-of-type(2) input[type='tel'] {
  text-align: left;
  padding-left: 5px;
  height: 40px;
  line-height: normal;
  width: 100%;
  border: solid 1px #e3e3e3;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0; }
.baojiaforms ul li label {
  text-align: left;
  float: left;
  width: 48%;
  height: 40px;
  position: relative; }
.baojiaforms ul li label:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #999 transparent transparent transparent;
  border-width: 6px;
  font-size: 0;
  position: absolute;
  top: 19px;
  right: 10px; }
.baojiaforms ul li label em {
  position: absolute;
  right: 30px;
  top: 0;
  color: #999; }
.baojiaforms ul li label:nth-of-type(1) {
  margin-right: 4%; }
.baojiaforms ul li label select {
  height: 42px;
  width: 100%;
  border: solid 1px #e3e3e3;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #fff; }

.green-btn {
  margin: 15px; }
.green-btn input[type='button'] {
  height: 44px;
  font-size: 15px;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: #ea4504;
  width: 100%;
  color: #fff;
  border-radius: 6px; }

.txt-banner {
  margin-top: 20px;
  background: #f6f9ff;
  text-align: center;
  padding-top: 34px; }
.txt-banner h1 {
  color: #34c083;
  font-size: 18px; }
.txt-banner p {
  font-size: 13px;
  color: #999;
  padding-top: 10px;
  padding-bottom: 23px; }

.li-column li {
  -webkit-column-count: 2; }
.li-column li div {
  width: 100%;
  padding-left: 15%;
  display: table-cell;
  vertical-align: middle;
  height: 200px; }
.li-column li div h2 {
  line-height: 146%;
  color: #666; }
.li-column li div h3 {
  margin-bottom: 5px; }
.li-column li.light-yellow {
  background-color: #fffef5; }
.li-column li.light-blue {
  background-color: #f1fdff; }
.li-column li.light-green {
  background-color: #f6fff9; }

.h3f1 {
  color: #fc5d3d;
  font-size: 18px; }

.h3f2 {
  color: #ffba14;
  font-size: 18px; }

.h3f3 {
  color: #29a6d6;
  font-size: 18px; }