{file:file/nav}<!--主内容-->
<div class="index_page" id="indexPage">
  <section>{viewcontent}</section>
  <div class="top-sct user-feedback tb-half-pixel"> <a href="#" rel="nofollow">
    <h3>用户反馈</h3>
    <p>使用过程中您有什么意见或建议欢迎提出</p>
    <span class="icon-more"></span> </a> </div>
  <div class="top-sct site-info footerDesc tb-half-pixel"> 淘黄州家居生活网致力于为广大业主提供透明、保障、省心的装修服务！了解黄冈装修公司排名，获取黄冈装修报价、装修预算就上淘黄州 </div>
  <div class="top-sct top-sct-zxrx bottom-half-pixel"> <a href="tel:15871815678"><span class="span-info">咨询热线：</span><i class="icon-tel-green"></i><span class="span-tel">158-7181-5678</span></a> </div>
</div>
<!--主内容结束-->
{file:file/foot}</body>
</html>
