{set:$msg = IReq::get('msg') ? IReq::get('msg') : '发生错误'}

<div class="pending-detial" style="    padding: 10px;
    background-color: #FFE499;
    border: 1px #E4A800 solid;
    line-height: 27px;
    margin: 10px 2px;">
    <h2 class="tips_msg">
        <p>{echo:htmlspecialchars($msg,ENT_QUOTES)}</p>
    </h2>

    <div class="tips_back">
        您现在可以去：
        {if:$this->user['user_id']}
        <a class="blue" href="{url:/ucenter/index}">个人中心 >></a>
        {/if}
        <a class="blue" href="{url:/site/index}">网站首页 >></a>
    </div>
</div>