<link rel="stylesheet" href="../skin/user/css/page_1.css">
<link rel="stylesheet" href="../skin/user/css/pptm.css">
<link rel="stylesheet" href="../skin/user/css/rem.css">
<div class="pending-detial">
    <div class="tips_msgx" style="    text-align: center;
    line-height: 52px;
    font-size: 26px;">
        {if:isset($this->showMessage)}
            {$this->showMessage}
        {else:}
            {echo:IReq::get('message') ? IFilter::act(IReq::get('message'),'text') : '操作成功！'}

            {set:$order_id = IReq::get('order_id')}
            {if:$order_id}
            {query:name=order_voucher where=order_id eq $order_id}
                <div>您的消费券</div>
                <div style="    font-size: 40px;
    color: #F36F27;">{$item['voucher']}</div>
                <h2>请记住您的消费凭证</h2>
                <img src="{url:block/qrcode/txt/$item['voucher']}" width='300' height='300' style="margin: 0 auto;" />
            {/query}
            {/if}
        {/if}
    </div>

    <div class="tips_back">
        您现在可以去：
        {set:$callback = IFilter::act(IReq::get('callback'),'text')}
        {if:$callback}
        <a class="blue" href="{url:$callback}">继续操作 >></a>
        {/if}

        {if:$this->user['user_id']}
        <!-- <a class="blue" href="{url:/ucenter/index}">个人中心 >></a> -->
        <a class="blue" href="{url:/ucenter/order}">订单中心 >></a>
        {/if}

        <a class="blue" href="{url:/site/index}">网站首页 >></a>
    </div>
</div>