<style>
.m_fl_btn { height: 50px; width: 100px; background-color: #fff; ; text-align: center; line-height: 50px; color: #fff }
.m_fl_thumb { padding: 20px 0 }
.m_fl_thumb img { width: 50%; height: auto }
</style>
<!--<div class="city-picker-wrap">
  <dl class="city-picker-province">
    <dt>A</dt>
    <dd><em>&gt;</em>北京市</dd>
    <dt>A</dt>
    <dd><em>&gt;</em>北京市</dd>
  </dl>
  <dl class="city-picker-city">
    <dt>&lt;&nbsp;返回</dt>
    <dd><em>&gt;</em>北京市</dd>
    <dd><em>&gt;</em>北京市</dd>
  </dl>
  <dl class="city-picker-district">
    <dt>&lt;&nbsp;返回b</dt>
    <dd>北京市</dd>
    <dd>北京市</dd>
  </dl>
</div>-->
<input type="text" class="citypicker" >
<script src="../skin/js/citypicker/city.picker.min.js"></script> 
<script type="text/javascript">
$(function() {
  //$(".camera-area").fileUpload({"url": "{webroot:pic/img_upload}"});
  window.location.href="{url:/site/index_s}";
  
})
</script>