{set:$seo_data=array();$site_config=new Config('site_config');}
{set:$seo_data['title']=$this->help_row['name'].'_'.$site_config->name;}
{set:seo::set($seo_data);}

{set:$cat_id=$this->cat_row['id'];} 

<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » <a href="{url:/site/help_list/id/$cat_id}">{$this->cat_row['name']}</a> </div>
<div class="container_2 wrapper clearfix">
  <div class="help_left" id="div_menu">
    <div class="help_nav_left" style="margin:0;"> {foreach:items=Api::run('getHelpCategoryLeft')}
      <div class="help_btn"><a class="novice_btn_bottom" href="javascript:void(0)">{$item['name']}</a></div>
      <ul class="con" id="left_{$item['id']}">
        {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',$item['id'])) item=$help_row}
        <li><a class="novice_btn_right" href="{url:/site/help/id/$help_row[id]}">{$help_row['name']}</a></li>
        {/foreach}
      </ul>
      {/foreach} </div>
  </div>
  <div class="helpRight f_r">
    <div class="helpRightTitle">{$this->help_row['name']}</div>
    <div class="NewsShow">
      <div class="NewsContent">
        <p>{$this->help_row['content']}</p>
      </div>
      <a class="toindex f_r" href="{url:}">返回首页</a> </div>
  </div>
</div>

