{js:my97date}
{set:$search = IReq::get('search') ? IFilter::act(IReq::get('search'),'strict') : array();}

<div class="headbar">
	<div class="position">订单<span>></span><span>单据管理</span><span>></span><span>退款单列表</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="selectAll('id[]')"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel()"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
		<a href="javascript:void(0)"><button class="operating_btn" type="button" onclick="location.href='{url:/order/refundment_recycle_list}'"><span class="recycle">回收站</span></button></a>
	</div>
	<div class="searchbar">
		<form action="{url:/}" method="get" name="order_list">
			<input type='hidden' name='controller' value='order' />
			<input type='hidden' name='action' value='order_refundment_list' />

			&nbsp;&nbsp;选择时间:
			<input type='text' name='search[time>=]' class='Wdate small' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" /> ～
			<input type='text' name='search[time<=]' class='Wdate small' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
			&nbsp;&nbsp;排序:
			<select class="auto" name="sorting">
				<option value="1">正序</option>
				<option value="2">倒序</option>
			</select>

			<button class="btn" type="submit"  onclick='changeAction(false)'><span class="sel">筛 选</span></button>
			<button class="btn" onclick='changeAction(true)'><span class="sel">导出Excel</span></button>
		</form>
	</div>
</div>
<form name="orderForm" action="{url:/order/refundment_del}" method="post">
<div class="content">
	<table class="list_table">
		<colgroup>
			<col width="30px" />
			<col width="30px" />
			<col width="180px" />
			<col width="80px" />
			<col />
		</colgroup>

		<thead>
			<tr>
				<th>选择</th>
				<th>操作</th>
				<th>订单号</th>
				<th>金额</th>
				<th>用户名</th>
				<th>状态</th>
				<th>完成时间</th>
			</tr>
		</thead>

		<tbody>

				{set:$where = 1}
			{foreach:items=$search}
			{if:$item !== ""}{set:$where .= " and ".$key."'".$item."'"}{/if}
			{/foreach}

			{if:$sorting = IFilter::act(IReq::get('sorting'),'strict')}<?php
					$order = 'desc';
					if (isset($sorting)) {
						if ($sorting == 1) {
							$order = 'desc';
						} else {
							$order = 'asc';
						}
					}?>
			{/if}

			{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
			{query: name=refundment_doc as c join=left join user as u on u.id eq c.user_id fields=c.*,u.username where=$where and c.if_del eq 0 and c.pay_status neq 0 page=$page order=c.time $order,c.id desc}
			<tr>
				<td><input name="id[]" type="checkbox" value="{$item['id']}" /></td>
				<td><a href="{url:/order/refundment_show/id/$item[id]}"><img class="operator" src="{skin:images/admin/icon_check.gif}" title="查看" /></a></td>
				<td>{$item['order_no']}</td>
				<td>{$item['amount']}</td>
				<td>{echo:$item['username']=='' ? '游客' : $item['username']}</td>
				<td>{echo:Order_Class::refundmentText($item['pay_status'])}</td>
				<td>{$item['dispose_time']}</td>
			</tr>
			{/query}
		</tbody>
	</table>
</div>
{$query->getPageBar()}
</form>


<script>
//表单回填
var formObj = new Form('order_list');
{foreach:items=$search}
formObj.setValue("search[{$key}]","{$item}");
{/foreach}
formObj.setValue("sorting","{$sorting}");

function changeAction(excel){
	if (excel){
		$("input[name=\"action\"]").val("order_refundment_report");
		$("form[name=\"order_list\"]").attr("target", "_blank");
	}else{
		$("input[name=\"action\"]").val("order_refundment_list");
		$("form[name=\"order_list\"]").attr("target", "_self");
	}
}
</script>