
<div class="container">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td class="f18" width="35%"><h3>{if:isset($this->order_info[0]['set']['name'])}{$this->order_info[0]['set']['name']}{else:}淘黄州{/if}配货清单</h3></td>
		</tr>
		<tr>
			<td valign="bottom" align="right"><p contenteditable="true" style="    font-weight: bold;">客户:{$this->order_info[0]['accept_name']}<span class="ml_20">地址:{$this->order_info[0]['address']}</span><span class="ml_20">电话:{$this->order_info[0]['mobile']}</span></p></td>
		</tr>  
	</table>  

	<table class="table" width="100%" cellspacing="0" cellpadding="0" border="1">
		<thead>	<tr class="f14">
				<th width="25">序</th>
				<th>商品名称</th>
				<!-- <th>商品货号</th> -->
				<th>单价</th>
				<!-- <th>重量</th> -->
				<th>数量</th>
				<th>小计</th>
			</tr></thead>
	<tbody>{set:$order_amount = 0;}
	{foreach:items=$this->order_info item=$order_item}
	{set:$order_amount += $order_item['order_amount'];$key++}
			<tr class="f17">
				<td rowspan="3">{$key}</td>
				<td colspan="2" style="text-align:left;border-right:none;">
					<b>订单号:{$order_item['order_no']}</b>
				</td>
				<td colspan="4" style="text-align:right;border-left:none;">
					<b>订购日期:{echo:date('Y-m-d',strtotime($order_item['create_time']))}</b>
				</td>
			</tr>


				{query:name=order_goods where=order_id eq $order_item[id]}
				{set:$goodsRow = JSON::decode($item['goods_array']);}
				<tr>
					<td align="left">
						<label>
							{$goodsRow['name']}  
							<span class="gray">{$goodsRow['value']}</span>
						</label>
					</td>
					<!-- <td>{$goodsRow['goodsno']}</td> -->
					<td>￥{$item['real_price']}</td>
					<!-- <td>{$item['goods_weight']}g</td> -->
					<td>{$item['goods_nums']}</td>
					<td>￥{echo:$item['real_price'] * $item['goods_nums']}</td>
				</tr>
				{/query}
						<tr>
				<td align="left">商品总价：￥{$order_item['real_amount']}　　　运费价格：￥{$order_item['real_freight']}</td>
				<td align="left" colspan="2" contenteditable="true">用户备注：{$order_item['postscript']}</td>
				<td align="left" colspan="3" contenteditable="true">管理员备注：{$order_item['note']}</td>
			</tr>

			{/foreach}
		</tbody>
		<tfoot>
			<tr>
				<td align="right" colspan="8" class="f14">合计：￥{$order_amount} 元</td>
			</tr>
		</tfoot>
	</table>

	<table class="table" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr><td class="f18" align="left" width="50%"><b contenteditable="true">打印日期：{echo:date('Y-m-d')}</b></td><td class="f18" align="left"><b contenteditable="true">配货员：</b></td></tr>
	</table>
<div contenteditable="true">&nbsp;</div>
	<input type="submit" class="btn_print noprint" onclick="order_print()" value="打印" />

</div>
<script>
	{set:$order_id = (array) (IFilter::act(IReq::get('id'),'int'));$order_list = JSON::encode($order_id);}
	function order_print() {
		if (confirm('确认打印后，订单会变成已打印状态，否则请取消。')) {
			$.post('{url:order/order_print/merge/$this->merge}', {order_id:{$order_list}, name: 'pick_print_state'}, function(ret){
				if (ret.result == 'success') {
					window.print();
				} else {

				}
			}, 'json');
		}
	}
</script>