<div class="container">
	<table class="m_10" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td class="f18">{if:isset($set['name'])}{$set['name']}{/if}购物清单</td>
		</tr>
		<tr>
			<td valign="bottom" align="right"><p>客户:{$accept_name}<span class="ml_20">地址:{$address}</span><span class="ml_20">电话:{$mobile}</span></p></td>
		</tr>
	</table>

	<table class="table" width="100%" cellspacing="0" cellpadding="0" border="1">
		<colgroup>
			<col width="370px" />
			<col width="120px" />
			<col width="120px" />
			<col width="100px" />
			<col width="100px" />
			<col width="120px" />
		</colgroup>

		<tbody>
			<tr class="f17">
				<th colspan="2" style="text-align:left;border-right:none;">
					<b>订单号:{$order_no}</b>
				</th>
				<th colspan="4" style="text-align:right;border-left:none;">
					<b>订购日期:{echo:date('Y-m-d',strtotime($create_time))}</b>
				</th>
			</tr>

			<tr class="f14">
				<th>商品名称</th>
				<th>商品货号</th>
				<th>单价</th>
				<th>重量</th>
				<th>数量</th>
				<th>小计</th>
			</tr>
			{query:name=order_goods where=order_id eq $id}
			{set:$goodsRow = JSON::decode($item['goods_array'])}
			<tr>
				<td align="left">
					<label>
						{$goodsRow['name']}  
						<span class="gray">{$goodsRow['value']}</span>
					</label>
				</td>
				<td>{$goodsRow['goodsno']}</td>
				<td>￥{$item['real_price']}</td>
				<td>{$item['goods_weight']}g</td>
				<td>{$item['goods_nums']}</td>
				<td>￥{echo:$item['real_price'] * $item['goods_nums']}</td>
			</tr>
			{/query}
		</tbody>
	</table>

	<table class="table f14" width="100%" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td align="right">商品总价：￥{$real_amount}</td>
		</tr>
		<tr>
			<td align="right">运费价格：￥{$real_freight}</td>
		</tr>
		<tr>
			<td align="left">订单附言：{$postscript}</td>
		</tr>
	</table>

	<table class="table topBorder" width="100%" cellspacing="0" cellpadding="0" border="0">
		<colgroup>
			<col />
			<col width="350px" />
		</colgroup>

		<tr>
			<td align="left">服务商：{if:isset($set['name'])}{$set['name']}{/if}</td>
			<td align="left">电话：{if:isset($set['phone'])}{$set['phone']}{/if}</td>
		</tr>
		<tr>
			<td align="left">邮箱：{if:isset($set['email'])}{$set['email']}{/if}</td>
			<td align="left">网站：{if:isset($set['url'])}{$set['url']}{/if}</td>
		</tr>
	</table>

	<input type="submit" class="btn_print noprint" onclick="window.print();" value="打印" />
</div>