<!DOCTYPE html>
<html class="ks-webkit537 ks-webkit ks-chrome38 ks-chrome">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="data-spm" content="a21ar">
<meta name="microscope-data" content="pageId=1217204278; prototypeId=1; shopId=145613536; userid=64787483;siteCategoryId=2;siteInstanceId=359087414;templateId=206531;skinId=208585;ruleId=2">
<title>店铺装修-淘黄州</title>
<link rel="stylesheet" href="../skin/decorat/index.css" type="text/css" path="" />
<link rel="stylesheet" href="../skin/decorat/saved.css" type="text/css" path="" />
</head>
<body data-spm="c-design">
<div id="page">
  <div data-spm="topbar" class="vl-navbar clearfix"> 
    <!--<div class="vl-navbar-notice">
      <div class="vl-tip-content"> <img src="images/TB1iRvjHXXXXXcYXVXXS.ivFXXX-15-13.png" alt=""> 年货节赢朋友圈流量，百套模板免费送 <a target="_blank" href="#">立即设置</a> &nbsp;&nbsp; </div>
    </div>-->
    <div class="vl-brand">
      <h1> <a href="#" target="_blank" class="logo"></a></h1>
    </div>
    <div class="vl-menu">
      <ul class="vl-menu-bar">
        <li class="page-decoration"> <a class="J_TGoldData" href="#">页面装修<b class="vl-dropdown-icon">&nbsp;</b> </a>
          <ul class="page-decoration-menu">
            <li><a class="J_TGoldData" href="#">页面管理</a></li>
          </ul>
        </li>
        <li><a class="J_TGoldData" href="#" style="position:relative;">模板管理 </a></li>
        <!--<li class="page-decoration"> <a class="J_TGoldData" >装修分析<b class="vl-dropdown-icon">&nbsp;</b> </a>
          <ul class="page-decoration-menu">
            <li><a href="http://bda.sycm.taobao.com/flow/decorate/decorate.htm?_res_id_=49" target="_blank">装修分析</a></li>
            <li><a href="http://bda.sycm.taobao.com/flow/flowsummary/flow_summary.htm?_res_id_=46" target="_blank">流量地图</a></li>
          </ul>
        </li>-->
        <li><a class="J_TGoldData" href="#" target="_blank">装修市场</a></li>
        <li><a class="J_TGoldData"    href="#" target="_blank" style="position:relative;"> 微海报<span class="m-poster-badge" style="position:absolute;top:6px;right:-15px;background-color:#00DF91;padding:0 2px;font-size:12px;border-raidus:5px;height:13px;line-height:13px;">New</span> </a></li>
        <li><a class="J_TGoldData"  href="#">宝贝分类</a></li>
        <li><a class="J_TGoldData" href="#">营销</a></li>
      </ul>
    </div>
    <div class="vl-products">
      <ul class="vl-products-bar">
        <li><a class="J_TGoldData"  href="/d">商家中心</a></li>
        <li><a class="J_TGoldData" href="#">淘黄州首页</a></li>
      </ul>
    </div>
    <div class="vl-help"> <a class="help-trigger J_TGoldData"    href="#"></a> <a class="robot-entry J_TGoldData" target="_blank" href="#">装修教程</a> <a class="robot-entry J_TGoldData" target="_blank" href="#">在线咨询</a> <a class="newbie-guide-show" href="javascript:void(0); ">新手引导</a> </div>
    <!--    <div class="vl-mailbox"> <a href="javascript:void(0);" class="mail-trigger J_GetMsData J_TGoldData" benfchen-get-dataurl="//siteadmin.taobao.com/weibo/message/detail_message.html" get-dataurl="//siteadmin.taobao.com/weibo/message/detail_message.html">  <span id="J_TMSCount" class="unread-num">8</span> </a>
      
    </div>--> 
    <!-- message end -->
    <div class="vl-account"> <span class="vl-account-info"> <a href="#" target="_blank"> u[64787483] </a> <b class="vl-dropdown-icon">&nbsp;</b> </span> <a class="logout J_TGoldData" href="#">退出</a> </div>
    <div class="vl-quit-trying"> </div>
    <textarea id="J_TRollbackContent" class="tb-hidden hidden">        &lt;div class="rollback-dialog" style="padding: 20px 20px 25px 25px;"&gt;
            &lt;form id="rollback-form" class="rollback-form" method="post"
                  action="//siteadmin.taobao.com/userback/saveBackComment.htm"&gt;

                &lt;input type="hidden" name="_tb_token_" value="AiGFEfvfwrZKsj5"/&gt;
                &lt;input type="hidden" name="sid" value="359087414"/&gt;

                &lt;div class="rollback-container"&gt;
                    &lt;div class="rollback-msg"&gt;&lt;i&gt;&lt;/i&gt;

                        &lt;p class="tips"&gt;
                            请您为新旺铺留下宝贵的意见或建议，帮助我们不断完善新旺铺。
                        &lt;/p&gt;
                    &lt;/div&gt;
                    &lt;textarea class="advise" rows="10" cols="10" name="comments"&gt;&lt;/textarea&gt;
                    &lt;span class="text"&gt;不少于5个字&lt;/span&gt;

                    &lt;div class="error"&gt;
                        &lt;span class="error-null"&gt;填写内容不能为空&lt;/span&gt;
                        &lt;span class="error-less"&gt;填写内容不少于5个字&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;p class="btn-footer"&gt;
                        &lt;a class="btn btn-cancel"&gt;取消&lt;/a&gt;
                        &lt;a class="btn-ok J_TRollbackInsure btn" data-url=""&gt;确定&lt;/a&gt;
                    &lt;/p&gt;
                &lt;/div&gt;
            &lt;/form&gt;
        &lt;/div&gt;
    </textarea>
    <textarea id="J_TSwitchToNewContent" class="hidden">        &lt;div class="switch2New-dialog" style="padding: 24px 10px 10px 24px;"&gt;
            &lt;form id="switchToNew-form" class="restore-form" method="post"&gt;
                &lt;input type="hidden" name="sid" value="359087414"/&gt;
                &lt;input type="hidden" name="_tb_token_" value="AiGFEfvfwrZKsj5"/&gt;
                &lt;input type="hidden" name="action" value="transfer/SwitchAction"/&gt;
                &lt;input type="hidden" name="event_submit_do_bakAndSwitchToNew" value="true"/&gt;
                &lt;input type="hidden" name="opt" value="1"/&gt;

                &lt;div class="release-msg release-msg24"&gt;
                    &lt;i&gt;&lt;/i&gt;

                    &lt;p class="tips"&gt;
                        系统将自动备份当前模板，并切换到最近使用的新模板
                    &lt;/p&gt;
                &lt;/div&gt;
                &lt;p class="btn-footer"&gt;
                    &lt;a class="btn btn-ok" data-url="//siteadmin.taobao.com/jsonResult.htm?ajax=true"&gt;确定&lt;/a&gt;
                    &lt;a class="btn btn-cancel"&gt;取消&lt;/a&gt;
                &lt;/p&gt;

            &lt;/form&gt;
        &lt;/div&gt;
    </textarea>
    <textarea id="J_TSwitchToOldContent" class="hidden">        &lt;div class="switch2Old-dialog" style="padding: 24px 10px 10px 24px;"&gt;
            &lt;form id="switchToOld-form" class="restore-form" method="post"&gt;
                &lt;input type="hidden" name="sid" value="359087414"/&gt;
                &lt;input type="hidden" name="_tb_token_" value="AiGFEfvfwrZKsj5"/&gt;
                &lt;input type="hidden" name="action" value="transfer/SwitchAction"/&gt;
                &lt;input type="hidden" name="event_submit_do_transferOldData" value="true"/&gt;

                &lt;div class="release-msg release-msg24"&gt;
                    &lt;i&gt;&lt;/i&gt;

                    &lt;p class="tips"&gt;
                        系统将自动备份当前模板，并切换到最近使用的旧模板 。
                    &lt;/p&gt;
                &lt;/div&gt;
                &lt;p class="btn-footer"&gt;
                    &lt;a class="btn btn-ok" data-url="//siteadmin.taobao.com/jsonResult.htm?ajax=true"&gt;确定&lt;/a&gt;
                    &lt;a class="btn btn-cancel"&gt;取消&lt;/a&gt;
                &lt;/p&gt;
            &lt;/form&gt;
        &lt;/div&gt;
    </textarea>
    <textarea id="J_TChangeModule" class="hidden">        &lt;div class="change-module" data-url=""&gt;
            &lt;div class="wait"&gt;
                &lt;img src="//gdp.alicdn.com/tps/i2/T16WJqXaXeXXXXXXXX-32-32.gif"&gt;
            &lt;/div&gt;
            &lt;span class="wait-alert"&gt;努力切换模板中&lt;/span&gt;
        &lt;/div&gt;
    </textarea>
    <div id="J_MSPopWrapper" class="ms-pop-wrapper">
      <ul class="ms-box-list J_MSPopList">
      </ul>
    </div>
    <script type="text/xtemplate" id="ms-pop-common-tpl">
            <li class="ms-box">
                <div class="ms-box-icon }"></div>
                <div class="ms-box-body J_MSPopContent">
                    <a class="ms-box-close J_MSPopClose" href="javascript:void(0)">关闭</a>

                    <div class="ms-box-content">
                        }
                        }
                        <p class="ms-box-line">}
                            <a class="ms-box-right-link margin-right-50" href="}">
                                }查看详情>}
                            </a>
                        </p>
                        }
                        <div class="ms-box-line">}<span class="ms-box-placeholder"></span>
                            <a class="ms-box-right-link" href="}">
                                }
                                }
                                立即续费>
                                }
                                查看详情>
                                }
                                }
                            </a>
                        </div>
                        }
                        }
                    </div>
                </div>
            </li>
        </script> 
    <script type="text/xtemplate" id="ms-set-common-tpl">
            <div class="set-content">
                <p class="set-content-hd">
                    <span class="set-content-hd-tip">}</span>
            <span class="set-content-hd-ctrl J_ParentSwitch } ctrl-open } ctrl-close }"
                  type-content="}"></span>
                </p>

                <p class="set-split">
                    <span class="split-san"></span>
                    <span class="split-sandShadow"></span>
                </p>
                }
                <p class="set-content-ms">
                    <span class="set-content-ms-tip">}</span>
            <span class="set-content-ms-ctrl J_Switch } ctrl-open } ctrl-close }"
                  type-content="}"></span>
                </p>
                }
            </div>
        </script> 
    <script type="text/xtemplate" id="ms-nav-common-tpl">
            <li class="ms-nav">
                <div class="ms-box-icon }"></div>
                <div class="ms-nav-body J_MSPopContent">
                    <a class="ms-nav-del J_MSNavDel" href="javascript:void(0)" dataType=} title="删除"></a>

                    <div class="ms-nav-title-line">
                        <span class="ms-nav-title">}</span>
                    <span class="ms-nav-title-ctrl">
                        <span class="ms-nav-unread-sum J_MSBoxSum">}</span>
                        <a class="ms-nav-switch ms-nav-switch-fold J_MSBoxSwitch"></a>
                    </span>
                    </div>
                    <div class="ms-nav-contents">
                        }
                        }
                        <p class="ms-nav-line-weibo">}<a class="ms-nav-right-link margin-right-50" href="}">
                            }查看详情>}
                        </a>
                        </p>
                        }
                        <p class="ms-nav-line } last-line }">}
                            <a class="ms-nav-right-link" href="}">
                                }
                                }
                                立即续费>
                                }
                                查看详情>
                                }
                                }
                            </a>
                        </p>
                        }
                        }
                    </div>
                </div>
            </li>
        </script> 
  </div>
  <div class="main-wrapper main-wrapper-design-mode wpst-toolbar-show">
    <div class="vl-sidebar">
      <ul class="tab-bar J_ToolBar">
        <li class="modules J_ToolbarItem selected">
          <div class="wrap J_TGoldData" >
            <div class="left-line"></div>
            <b class="item-icon"></b>
            <div>模块</div>
            <b class="right-small-icon"></b> </div>
        </li>
       <!-- <li class="theme  J_ToolbarItem" data-slide="theme">
          <div class="wrap J_TGoldData" >
            <div class="left-line"></div>
            <b class="item-icon"></b>
            <div>配色</div>
            <b class="right-small-icon"></b> </div>
        </li>-->
        <li class="page-head  J_ToolbarItem">
          <div class="wrap J_TGoldData" >
            <div class="left-line"></div>
            <b class="item-icon"></b>
            <div>页头</div>
            <b class="right-small-icon"></b> </div>
        </li>
        <li class="page  J_ToolbarItem">
          <div class="wrap J_TGoldData" >
            <div class="left-line"></div>
            <b class="item-icon"></b>
            <div>页面</div>
            <b class="right-small-icon"></b> </div>
        </li>
        <li class="css  J_ToolbarItem">
          <div class="wrap J_TGoldData" >
            <div class="left-line"></div>
            <b class="item-icon"></b>
            <div>CSS</div>
            <b class="right-small-icon"></b> </div>
        </li>
      </ul>
      <ul class="toolbar J_ModuleSlides">
        <li class="modules-slide slide selected" data-slide="modules"> <b class="close-icon J_ToolbarItemClose"></b>
          <div class="inside">
            <p>选择所需模块，并拖动至相应位置<a href="javascript:void(0);" class="help-trigger J_ModuleSizeHelp"></a></p>
            <!--<div class="sizes clearfix"><span class="J_SizeSelect size-all size-selected" data-size="">所有尺寸</span> <span class="J_SizeSelect size-950" data-size="950">950</span> <span class="J_SizeSelect size-190" data-size="190">190</span> <span class="J_SizeSelect size-750" data-size="750">750</span> </div>-->
            <p class="sizes clearfix"> 需要挑选更多模块，请前往 <a href="#" target="_blank">装修市场</a> </p>
            <div class="J_ModulesAccordionBox modules-accordion-box">
              <div class="modules-wrap modules-wrap-current">
                <div class="head J_ModuleListHead"> <span>基础模块</span> <b class="dropdown-icon" data-icon-open="&#160;" data-icon-close="&#160;"></b> </div>
                <ul class="module-list clearfix" style="height: 593px;">
                  <li class="J_NModule" data-modid="4004" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b950-b190-b750-b550"> <span class="pic"><img title="宝贝推荐" src="images/TB1TcnHGVXXXXXPXFXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="宝贝推荐" class="content">宝贝推荐</span> </li>
                  <li class="J_NModule" data-modid="4023" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="宝贝排行" src="images/TB1ZUHFGVXXXXcKXFXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="宝贝排行" class="content">宝贝排行</span> </li>
                  <li class="J_NModule" data-modid="4010" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="默认分类" src="images/TB1OjqhGVXXXXXHXpXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="默认分类" class="content">默认分类</span> </li>
                  <li class="J_NModule" data-modid="5842" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="个性分类" src="images/TB1o6YIGVXXXXcmXpXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="个性分类" class="content">个性分类</span> </li>
                  <li class="J_NModule" data-modid="5003" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b950-f950-b190-b750-b550"> <span class="pic"><img title="自定义区" src="images/TB1TyvMGVXXXXXKXXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="自定义区" class="content">自定义区</span> </li>
                  <li class="J_NModule" data-modid="4024" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b950-b190-b750-b550"> <span class="pic"><img title="图片轮播" src="images/TB13DzDGVXXXXcGXVXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="图片轮播" class="content">图片轮播</span> </li>
                  <li class="J_NModule" data-modid="4067" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b950-b190"> <span class="pic"><img title="友情链接" src="images/TB19VOpGVXXXXagaXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="友情链接" class="content">友情链接</span> </li>
                  <li class="J_NModule" data-modid="4073" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="客服中心" src="images/TB1vtHKGVXXXXcWXXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="客服中心" class="content">客服中心</span> </li>
                  <li class="J_NModule" data-modid="4071" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="生意参谋" src="images/TB1UcMPHpXXXXaSXVXX7spZGFXX-38-38.png_80x80.jpg"></span> <span title="生意参谋" class="content">生意参谋</span> </li>
                  <li class="J_NModule" data-modid="4069" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="无线二维码" src="images/TB1oADAGVXXXXX4apXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="无线二维码" class="content">无线二维码</span> </li>
                  <li class="J_NModule" data-modid="4066" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b190"> <span class="pic"><img title="充值中心（淘宝客）" src="images/TB1MRzLGVXXXXauXXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="充值中心（淘宝客）" class="content">充值中心（淘宝客）</span> </li>
                  <li class="J_NModule" data-modid="4031" data-max-append="40" data-ismove="1" data-isdel="1" data-context="b950-b190-b750-b550"> <span class="pic"><img title="宝贝搜索" src="images/TB1_SDIGVXXXXboXpXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="宝贝搜索" class="content">宝贝搜索</span> </li>
                  <li class="J_NModule" data-modid="4081" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b950"> <span class="pic"><img title="ISV互动游戏模块列表" src="images/TB1snXaHXXXXXX3XFXX7spZGFXX-38-38.png_80x80.jpg"></span> <span title="ISV互动游戏模块列表" class="content">ISV互动游戏模块列表</span> </li>
                  <li class="J_NModule" data-modid="4814" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b950-b750"> <span class="pic"><img title="红包" src="images/TB1P.AEKFXXXXcZXXXXXXXXXXXX-80-80.jpg_80x80.jpg"></span> <span title="红包" class="content">红包</span> </li>
                  <li class="J_NModule" data-modid="4014" data-max-append="20" data-ismove="1" data-isdel="1" data-context="b950-b190-b750"> <span class="pic"><img title="flash模板" src="images/TB1lwHMGVXXXXXMXXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="flash模板" class="content">flash模板</span> </li>
                  <li class="J_NModule" data-modid="4078" data-max-append="10" data-ismove="1" data-isdel="1" data-context="b950-b190-b750-b550"> <span class="pic"><img title="公益广告" src="images/TB1cxjEGVXXXXbzXVXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="公益广告" class="content">公益广告</span> </li>
                  <li class="J_NModule" data-modid="4801" data-max-append="1" data-ismove="1" data-isdel="1" data-context="b950-b190-b750"> <span class="pic"><img title="猜你喜欢" src="images/TB1l1nAGVXXXXc9aXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="猜你喜欢" class="content">猜你喜欢</span> </li>
                  <li class="J_NModule" data-modid="5001" data-max-append="1" data-ismove="1" data-isdel="1" data-context="h950"> <span class="pic"><img title="店铺招牌" src="images/TB1apjLGVXXXXbDXXXX4HBZGFXX-38-38.gif_80x80.jpg"></span> <span title="店铺招牌" class="content">店铺招牌</span> </li>
                </ul>
              </div>
              <!--<div class="modules-wrap ">
                <div class="head J_ModuleListHead"> <span>设计师模块</span> <b class="dropdown-icon" data-icon-open="&#160;" data-icon-close="&#160;"></b> </div>
                <ul class="module-list clearfix">
                  <li class="J_NModule" data-modid="137644" data-max-append="-1" data-ismove="1" data-isdel="1" data-context="b950-h950-f950"> <span class="pic"><img title="宝贝排行榜（个性化）" src="images/default-thumbnail.png_80x80.jpg"></span> <span title="宝贝排行榜（个性化）" class="content">宝贝排行榜（个性化）</span> </li>
                  <li class="J_NModule" data-modid="137712" data-max-append="-1" data-ismove="1" data-isdel="1" data-context="b950-h950-f950"> <span class="pic"><img title="特价专区" src="images/default-thumbnail.png_80x80(1).jpg"></span> <span title="特价专区" class="content">特价专区</span> </li>
                  <li class="J_NModule" data-modid="137645" data-max-append="-1" data-ismove="1" data-isdel="1" data-context="b950-h950-f950"> <span class="pic"><img title="宝贝分类（横向）" src="images/default-thumbnail.png_80x80(2).jpg"></span> <span title="宝贝分类（横向）" class="content">宝贝分类（横向）</span> </li>
                </ul>
              </div>-->
            </div>
            
          </div>
        </li>
        <!--<li class="theme-slide slide" data-slide="theme"> <b class="close-icon J_ToolbarItemClose"></b>
          <div class="inside">
            <p>当前模板可以选择的整体配色方案</p>
            <p class="gray">修改将应用所有页面</p>
          </div>
          <div class="color-snips">
            <ul class="J_ThemesList clearfix" style="height: 761px;">
            </ul>
          </div>
        </li>-->
        <li class="page-head-slide slide" data-slide="page-head"> <b class="close-icon J_ToolbarItemClose"></b>
          <div class="J_PageHeadBg page-head-bg-content"></div>
        </li>
        <li class="page-slide slide" data-slide="page"> <b class="close-icon J_ToolbarItemClose"></b>
          <div class="J_PageBgSettings page-body-bg-content"></div>
        </li>
        <li class="css-slide slide" data-slide="css"> <b class="close-icon J_ToolbarItemClose"></b>
          <textarea class="J_CSSText csstext" name="csstext" style="height: 360px;"></textarea>
          <div class="btn"> <span class="save">保存</span> </div>
          <div class="content">
            <p> 新模版非详情页将自动加上 #page <br>
              #content前缀 <br>
              详情页将自动加上.tb-shop前缀 </p>
            <p> 针对宝贝详情页SKU、其他不允许装修
              区域的样式代码都将被无提示过滤! <br>
              同时系统扫描监控会将其识别为违规并
              
              自动处理! <a target="_blank" href="#">查看详细规范</a> </p>
          </div>
        </li>
      </ul>
      <div id="css-disable-mask" class="disable-module" data-module="css-slide"> <span class="close-mask-icon J_CloseDisableMask"></span> <a id="order-now" href="#" target="_blank">立即订购</a> </div>
      <div id="page-disable-mask" class="disable-module" data-module="page-slide"> <span class="close-mask-icon J_CloseDisableMask"></span> </div>
      <div id="css-upgrade-mask" class="disable-module" data-module="css-slide"> <span class="close-mask-icon J_CloseDisableMask"></span> </div>
    </div>
    <div class="vl-main">
      <div class="design-navigation-wrap" style="width: 1610px;">
        <div class="design-page-select"> <a class="design-page-select-btn J_PageSelect J_TGoldData"  href="javascript:void(0);"> <span class="page-name"><b></b>首页</span> <b></b> </a> </div>
        <div class="page-list-wrap J_PageListWrapPopup">
          <div class="page-manage-entry">
            <ul class="page-manage-entry-wrap">
              <li><a class="manage-page-list J_TGoldData" href="#">管理页面</a></li>
              <li><a class="new-page J_TGoldData" href="#">新建页面</a></li>
            </ul>
            <div class="page-manage-title">我的全部页面:</div>
          </div>
          <div class="page-select-list">
            <div class="basic-pages pages-type ">
              <h2>基础页 </h2>
              <div class="pages-list-wrap">
                <ul class="pages-list">
                  <li class="page-selected"><b></b><i></i><a href="#">首页</a></li>
                  <li><i></i><a href="#">店内搜索页</a></li>
                </ul>
              </div>
            </div>
            <div class="basic-pages pages-type pages-type-two">
              <h2>宝贝详情页 </h2>
              <div class="pages-list-wrap">
                <ul class="pages-list">
                  <li><i></i><a href="#">默认宝贝详情页</a></li>
                </ul>
              </div>
            </div>
            <div class="basic-pages pages-type ">
              <h2>宝贝列表页 </h2>
              <div class="pages-list-wrap">
                <ul class="pages-list">
                  <li><i></i><a href="#">默认宝贝分类页</a></li>
                </ul>
              </div>
            </div>
            <div class="basic-pages pages-type pages-type-two">
              <h2>自定义页 </h2>
              <div class="pages-list-wrap">
                <ul class="pages-list">
                  <li><i></i><a href="#">ads</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <ul class="design-mode-select">
          <li> <a href="#" class=" active  J_TGoldData"><span>页面编辑</span></a> </li>
          <!--<li> <a href="#" class=" J_TGoldData"><span>布局管理</span></a> </li>-->
        </ul>
        <div class="page-operation-btns"> <a href="javascript:void(0);" class="page-backup-btn J_SiteBackUpBtn J_TGoldData">备份</a> <a href="#" class="page-preview-btn J_TGoldData" target="_blank">预览</a> <a href="javascript:void(0);" class="page-publish-btn J_TRelease J_TGoldData">发布</a> </div>
        <div class="ds-msgs"> <span class="txt tb-hidden hidden" id="J_DSMsg"><i class="txt-icon"></i></span> </div>
      </div>
      <div class="pc-page J_PageDesignContainer">
        <div id="J_Page" class="page-container" style="width: 1610px; height: 766px; background-image: none;">
          <div class="vl-container J_PageToDesignContainer" data-url="//siteadmin.taobao.com/canvas.htm?sid=359087414&amp;pageId=1217204278">
            <iframe class="page-to-design" id="J_PageToDesign" scrolling="no" frameborder="0" src="images/canvas.html" style="height: 2556px; width: 1840px; display: block;"></iframe>
          </div>
          <div class="vl-layout-container"> </div>
          <div class="vl-design-mode-shim" id="J_DesignModeShim" style="height: 2556px; width: 1840px;"></div>
          <bar class="selected-module-mask J_SelectedModuleMask" id="J_SelectedModuleMask" style="left: 445px; top: 510px; width: 948px; height: 484px;">
            <barbd></barbd>
            <baracts> <a href="#" class="ds-bar-moveup"><span>&nbsp;</span></a> <a href="#" class="ds-bar-movedown"><span>&nbsp;</span></a> <a href="#" class="ds-bar-edit"><span>&nbsp;</span></a> <a href="#" class="ds-bar-del"><span>&nbsp;</span></a> <a href="#" style="margin:0 -4px 0 0 !important;" class="ds-bar-add"><span>&nbsp;</span></a></baracts>
          </bar>
          <div class="J_NewInsertNode new-insert-node" style="display: none;"><span class="tip">松开鼠标,模块会放到这里</span><b class="tri"></b><b class="stop"></b>
            <div class="module-width-select J_ModuleWidthSelect">
              <h2>请选择模块在新布局中的模块宽度</h2>
              <ul>
                <li class="w-950" data-width="950">950</li>
                <li class="w-190" data-width="190">190</li>
                <li class="w-750" data-width="750">750</li>
              </ul>
            </div>
          </div>
          <div class="J_LayoutShow layout-show-node" style="display: none;">
            <p class="J_LayoutName layout-name"></p>
            <b class="tl"></b><b class="tr"></b><b class="bl"></b><b class="br"></b></div>
        </div>
      </div>
    </div>
  </div>
  <div id="ks-component212" class="tb-dialog tb-overlay shop-release-dialog tb-dialog-hidden tb-overlay-hidden" tabindex="0" role="dialog" style="width: 400px; z-index: 10000389; left: 757px; top: 430px;"> <a href="javascript:void('close')" id="ks-overlay-close-ks-component212" class="tb-dialog-close tb-overlay-close" role="button"> <span class="tb-dialog-close-x tb-overlay-close-x">close</span> </a>
    <div id="ks-content-ks-component212" class="tb-dialog-content tb-overlay-content">
      <div class="tb-dialog-header tb-overlay-header" id="ks-stdmod-header-ks-component212">发布</div>
      <div class="tb-dialog-body tb-overlay-body" id="ks-stdmod-body-ks-component212">
        <div class="release-dialog" style="padding: 24px 10px 10px 24px;">
          <form id="release-form" class="release-form" method="post">
            <input type="hidden" name="sid" value="258761843">
            <div class="release-container">
              <div class="release-msg release-msg24"> <i></i>
                <p class="tips"><b>大功告成！</b>马上让买家看到你的最新店铺杰作吧！</p>
              </div>
              <p class="btn-footer" style="margin:20px 0 0 210px;"> <a class="btn-ok J_TReleaseInsure btn">确定</a> <a class="btn btn-cancel">取消</a> </p>
            </div>
            <div class="release-result tb-hidden hidden">
              <div class="release-msg release-msg24"> <i></i>
                <p class="tips"> <b>店铺发布成功！</b>马上查看新店铺杰作吧。 </p>
              </div>
              <p class="btn-footer" style="margin:20px 0 0 210px;"> <a class="btn-ok btn" href="http://shop145613536.taobao.com/" target="_blank">查看店铺</a> <a class="btn btn-cancel">返回</a> </p>
            </div>
          </form>
        </div>
      </div>
      <div class="tb-dialog-footer tb-overlay-footer" style="

" id="ks-stdmod-footer-ks-component212"></div>
    </div>
    <div tabindex="0"></div>
  </div>
</div>
<div class="J_DialogWrapper dialog-help-wrapper" style="width: 1920px; height: 911px;"></div>
<div class="tip-default tip-system" style="display: none; top: 30px; margin-left: -75px;"></div>
</body>
</html>