{js:my97date}

<div class="headbar">
	<div class="position"><span>></span><span>活动管理</span><span>></span><span>{if:isset($this->activity_catRow['id'])}编辑{else:}添加{/if}活动报名</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/activity/activity_signup_edit_act}" method="post" name='activity_signup_edit' callback="invalid_callback('rule_table');" enctype="multipart/form-data">
			<input type='hidden' name='id' />
			<table class="form_table" name="rule_table">
				<col width="150px" />
				<col />
				<tr>
					<th>姓名：</th>
					<td><input type='text' class='normal' name='name' /></td>
				</tr>
				<tr>
					<th>电话：</th>
					<td><input type='text' class='normal' name='tel' /></td>
				</tr>
				<tr>
					<th>活动ID：</th>
					<td><input type='text' class='normal' name='activity_id' /></td>
				</tr>
				<tr>
					<th>参与时间：</th>
					<td><input type='text' class='normal' name='datetime' onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></td>
				</tr>
				<tr>
					<th>参与次数：</th>
					<td><input style="width:50px;" type='text' class='normal' name='nums' /></td>
				</tr>
				<tr>
					<th></th>
					<td><button class="submit" type='submit'><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script type='text/javascript'>

	//校验回调
	function invalid_callback(nameVal)
	{
		if($('.invalid-text').length > 0)
		{
			var parentObj = $('.invalid-text:eq(0)').parents('[name="'+nameVal+'"]');
			$('[name="'+nameVal+'"]').index(parentObj);
			select_tab($('[name="'+nameVal+'"]').index(parentObj));
			return false;
		}
		return true;
	}

	//表单回填
	var formObj = new Form('activity_signup_edit');
	formObj.init({echo:JSON::encode($this->activity_catRow)});
</script>
