<div class="headbar">
	<div class="position"><span>家居建材</span><span>></span><span>装修报名</span><span>></span><span>报名列表</span></div>
	<div class="operating">
		<!-- <a href="javascript:;" onclick="event_link('{url:/jiaju/show_img_cat_edit}')"><button class="operating_btn" type="button"><span class="addition">添加效果图分类</span></button></a> -->
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col width="180px" />
			<col width="180px" />
			<col width="180px" />
			<col width="180px" />
			<col width="280px" />
			<col />
			<thead>
				<tr>
					<th>选择</th>
					<th>姓名</th>
					<th>电话</th>
					<th>房屋面积</th>
					<th>预算</th>
					<th>提交时间</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form method='post' action='{url:/jiaju/show_img_cat_del}'>
		<table class="list_table">
			<col width="40px" />
			<col width="180px" />
			<col width="180px" />
			<col width="180px" />
			<col width="180px" />
			<col width="280px" />
			<col />
			<tbody>
				{query:name=jiaju_zx_post}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td>{$item['name']}</td>
					<td>{$item['mobile']}</td>
					<td>{$item['oarea']}㎡</td>
					<td>{$item['zxys']}</td>
					<td>{$item['datetime']}</td>
					<td>
						<a href='{url:/jiaju/show_img_cat_edit/id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="修改" title="修改" />
						</a>

						<a href='javascript:void(0)' onclick="delModel({link:'{url:/jiaju/show_img_cat_del/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />
						</a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
