// 基本配置
$font_family: '微软雅黑';
$font_size:16px;
$max_main_wid:1000px;
//导航条上方图标栏
$header_logo_height:100px;
//logo最大宽度
$logo_max_width:450px;
//logo右侧图标
$logo_r_icon_width:100px;
//购物车

// 导航条设置
$nav_bg_color:#FD790A;
$nav_height:40px;
$nav_width:100%;
$nav_font_size:16px;
$nav_font_weight: 700;
$nav_font_color: #fff;

//导航条选中样式
$cheke_nav_bg_color:#BB6116;
//导航条hover样式
$hover_nav_bg_color:#EF6C00;

// 产品模板

// 网页底部
// &：背景
$footer_box_gb_color:#fcfcfc;
$footer_box_top_border:1px solid #ebebeb;
// &:底部列表宽度
$footer_inner:960px;
// &：底部a链接字体颜色
$footer_box_a_color:grey;
// &：底部列表行高
$footer_infor_link:30px;
// &：底部字体大小
$footer_infor_font_size:12px;

// &：

// &：

