<link rel="stylesheet" href="../skin/user/css/pptm.css">
<div class="pageContentWrapper">

    <form action='{url:/ucenter/password_edit}' method='post'>
    
    <section class="user-login-frame">

    <div class="username_div">
      <em>原有密码:</em>
      <input type="password" value="" name="fpassword" class="loginPasswordField" pattern='required' alt='请输入原有密码' />
    </div>
    
    <div class="username_div">
      <em>新密码:</em>
      <input type="password" value="" name="password" class="loginPasswordField" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位'/>
    </div>
    
    <div class="username_div">
      <em>再次输入新密码:</em>
      <input type="password" value="" name="repassword" class="loginPasswordField" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' />
    </div>
    </section>
    
    <div class="">
    <input type="submit" value="修改密码" class="invoice-save-button" id="loginButton">
    </div>
    
    </form>
</div>