<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>淘黄州</title>
	<link rel="stylesheet" type="text/css" href="../myproject_s/stylesheets/basis_style.css">
	<link rel="stylesheet" type="text/css" href="../skin/index_s/stylesheets/style.css">
	<script type="text/javascript" src="../skin/index_s/js/jquery_min.js"></script>
	<script type="text/javascript" src="../skin/index_s/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>

	<!-- 头部 -->
	<header id="common_header">
		<!-- 顶部菜单 -->
		 <nav class="header_top_nav">
			 <div class="header_top_center">
			 	<div class="header_top_right">
				 	<li class="imyeah">
					    <a href="http://www.itaohz.com/u">
					        我的淘黄州
					        <em class="icn icn_gay_down">
					        </em>
					    </a>
					    <ul class="title_ul" style="width:120px">
					        <li>
					            <a id="nav_1" href="http://www.itaohz.com/u">
					                个人中心
					            </a>
					        </li>
					        <li>
					            <a id="nav_2" href="http://www.itaohz.com/ucenter/order">
					                我的订单
					            </a>
					        </li>
					        <li>
					            <a id="nav_3" href="http://www.itaohz.com/ucenter/redpacket">
					                我的优惠券
					            </a>
					        </li>
					        <li>
					            <a id="nav_4" href="http://www.itaohz.com/ucenter/favorite">
					                我的收藏
					            </a>
					        </li>
					        <li>
					            <a id="nav_5" href="http://www.itaohz.com/ucenter/evaluation">
					                我的评价
					            </a>
					        </li>
					        <li>
					            <a id="nav_6" href="http://www.itaohz.com/ucenter/address">
					                收货信息
					            </a>
					        </li>
					        <li>
					            <a id="nav_7" href="http://www.itaohz.com/ucenter/info">
					                个人资料
					            </a>
					        </li>
					        <li>
					            <a id="nav_8" href="http://www.itaohz.com/ucenter/integral">
					                我的积分
					            </a>
					        </li>
					        <li>
					            <a id="nav_9" href="http://www.itaohz.com/ucenter/account_log">
					                帐户余额
					            </a>
					        </li>
					        <li>
					            <a id="nav_10" href="http://www.itaohz.com/ucenter/online_recharge">
					                在线充值
					            </a>
					        </li>
					        <li>
					            <a id="nav_11" href="http://www.itaohz.com/ucenter/refunds">
					                退款申请
					            </a>
					        </li>
					        <li>
					            <a id="nav_12" href="http://www.itaohz.com/ucenter/message">
					                短信息
					            </a>
					        </li>
					    </ul>
					</li>
					<span class="htr_line">
					</span>
					<li class="imyeah">
					    <a href="http://www.itaohz.com/d">
					        我要入驻
					        <em class="icn icn_gay_down">
					        </em>
					    </a>
					    <ul class="title_ul" style="width:120px">
					        <li>
					            <a id="nav_1" href="http://www.itaohz.com/d">
					                商家登陆
					            </a>
					        </li>
					        <li>
					            <a id="nav_2" href="http://www.itaohz.com/simple/seller">
					                商家入驻
					            </a>
					        </li>
					    </ul>
					</li>
					<span class="htr_line">
					</span>
					<li class="imyeah">
					    <a href="#">
					        <em class="icn icn_mob">
					        </em>
					        手机访问
					        <em class="icn icn_gay_down">
					        </em>
					    </a>
					    <ul class="title_ul" style="left:-60px">
					        <li>
					            访问淘黄州手机版
					            <img skip="skip" src="http://www.itaohz.com/views/pc/skin/default/images/100x100wap.png"
					            border="0">
					        </li>
					    </ul>
					</li>
					<span class="htr_line">
					</span>
					<li>
					    <a href="http://www.itaohz.com/help-index.html" target="_blank">
					        帮助中心
					    </a>
					</li>
			 	</div>
			 	<div class="header_top_left">
					<li>
					    <a href="http://www.itaohz.com/">
					        您好，欢迎您来到淘黄州！
					    </a>
					</li>
					<span class="htr_line">
					</span>
					<li>
					    <a href="http://www.itaohz.com/login.html?callback=">
					        请登录
					    </a>
					</li>
					<li>
					    <a href="http://www.itaohz.com/simple/reg?callback=">
					        免费注册
					    </a>
					</li>
			 	</div>
		 	</div>
		 </nav>
		 <!-- 头部logo icon -->
		 <div class="header_logo">

		 	<div class="head_inner">
		 	<!-- logo -->
		 		<div class="header_logo_dop">
		 			<a href="">
		 				<img src="../myproject_s/images/20160229101507688.png" alt="">
		 			</a>
		 		</div>
		 		<!-- icon -->
		 		<div class="header_icon_v">
		 			<a href="">
		 				<img src="http://b.appsimg.com/2016/06/17/303/1466131264367.png" alt="">
		 			</a>
		 			<a href="">
		 				<img src="http://b.appsimg.com/2016/06/17/244/1466131266290.png" alt="">
		 			</a>
		 			<a href="">
		 				<img src="http://b.appsimg.com/2016/06/17/530/1466131268726.png" alt="">
		 			</a>
		 		</div>
		 		<!-- 购物车 -->
		 		<div id="j_header_cart">
		 		</div>
		 	</div>

		 </div>
		 <!-- 导航栏 -->
		 <nav class="main_nav">
			 <div class="head_inner">
			 	<ul class="main_nav_link J_main_nav_link clearfix">
					<li class="">
						<a href="" class="main_nav_atag nav_cheke">首页</a>
					</li>
					<li class="">
						<a href="" class="main_nav_atag ">农贸</a>
					</li>
					<li class="">
						<a href="" class="main_nav_atag  ">土特产</a>
					</li>
					<li class="">
						<a href="" class="main_nav_atag  ">母婴</a>
					</li>
					<li class="">
						<a href="" class="main_nav_atag  ">居家</a>
					</li>
					<li class="">
						<a href="" class="main_nav_atag ">男士</a>
					</li>
					<li class="">
						<a href="" class="main_nav_atag ">美妆</a>
					</li>
	            </ul>
			 </div>
		 </nav>
	</header>
	<!-- 主体 -->
	<style type="text/css">
		/* 本例子css */
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:20px; bottom:55px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#f00; color:#fff; }
		.slideBox .bd{ position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{ width:450px; height:230px; display:block;  }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
		.slideBox .prev,
		.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px;  -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;background-color: rgba(0,0,0,.6);   }
		.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
		.slideBox .prev:hover,
		.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
		.slideBox .prevStop{ display:none;  }
		.slideBox .nextStop{ display:none;  }


	</style>
	<div id="mian">
		<!-- 焦点图 -->
		<div class="banner slideBox">
			<div class="hd">
				<ul><li>1</li><li>2</li></ul>
			</div>
			<div class="banner_box">
					<ul>
						<li>
							<a class="banner_link">
								<img src="http://b.appsimg.com/2016/07/29/912/14698061707535.jpg">
							</a>
						</li>
						<li>
							<a class="banner_link">
								<img src="http://b.appsimg.com/2016/06/08/1030/14653999803225.jpg">
							</a>
						</li>
					</ul>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
			</div>
			<div class="clear"></div>
		</div>
		<script type="text/javascript">
			jQuery(".slideBox").slide({mainCell:".banner_box ul",autoPlay:true});
		</script>
		<div class="main_inner">

			<div class="country">
				<a href="" class="country_link">
					<img src="http://3hao.img-cn-shenzhen.aliyuncs.com/home/wwwroot/www.sanhaog.com.new/uploads14683994522043125@400w" alt="">
				</a>
				<a href="" class="country_link">
					<img src="http://3hao.img-cn-shenzhen.aliyuncs.com/home/wwwroot/www.sanhaog.com.new/uploads14683994574817506@400w" alt="">
				</a>
				<a href="" class="country_link">
					<img src="http://3hao.img-cn-shenzhen.aliyuncs.com/home/wwwroot/www.sanhaog.com.new/uploads14683994656295082@400w" alt="">
				</a>
				<div class="clear"></div>
			</div>
			<div id="topic_box" class="topic_box">
				<div class="topic_title">
					<h3 class="title"></h3>
					<ul id="top_list" class="topic_list">
					{query:name=commend_goods_category where=is_lock eq 0 order=is_top desc,sort asc,id desc}
						<li class="topic_item">
							<a href="{url:site/venue/commend_id/$item['id']}">
								<img src="{webroot:$item['banner']}" alt="">
							</a>
						</li>
					{/query}
						<li class="topic_item">
							<a href="">
								<img src="http://a.vpimg2.com/upload/upimg2/global/wj/1607/14/zipindao/topic_0730_01.jpg" alt="">
							</a>
						</li>
						<li class="topic_item">
							<a href="">
								<img src="http://a.vpimg2.com/upload/upimg2/global/wj/1607/14/zipindao/topic_0730_01.jpg" alt="">
							</a>
						</li>
						<li class="topic_item">
							<a href="">
								<img src="http://a.vpimg2.com/upload/upimg2/global/wj/1607/14/zipindao/topic_0730_01.jpg" alt="">
							</a>
						</li>
						<li class="topic_item">
							<a href="">
								<img src="http://a.vpimg2.com/upload/upimg2/global/wj/1607/14/zipindao/topic_0730_01.jpg" alt="">
							</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>

			<div class="goods">
				<h3></h3>
				<div id="goods_wrap" class="good_wrap"></div>
				<div class="category">
					<div id="category_inner" class="category_inner">
						<div>
							<div class="category_item">
								<div class="category_itme_title">
									<h3 class="category-item-title-text"></h3>
									<a href="" class="category-tips"></a>
									<a href="" class="category-tips"></a>
									<a href="" class="category-tips"></a>
									<a href="" class="category-tips"></a>
									<a href="" class="category-tips"></a>
								</div>
								<div class="category_itme_left"></div>
								<div class="category_itme_right"></div>
							</div>
						</div>
						<div>
							<div class="category_item"></div>
						</div>
						<div>
							<div class="category_item"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- shop瀑布 -->
		<div class="main_inner">
			<div class="shop_sort">
				<div class="shop_sort_title">
					<h2>
						<strong>女装</strong>品牌
						<span>clothing brand</span>
					</h2>
					<a href="">全部女装品牌<i></i></a>
					<div class="clear"></div>
				</div>

				<div class="brand_wrap">



<!--  -->
					{query:name=commend_goods_category where=is_lock eq 0 order=is_top desc,sort asc,id desc}
					<div class="brand_item">
						<a href="{url:site/venue/commend_id/$item['id']}">
							<img src="{webroot:$item['banner']}" alt="">
							<div class="brand_info">
								<span class="brand_discount">
									<span class="salebg2">1.2</span>
									折起
								</span>
								<span class="brand-name">{$item['title']}</span>
								<p>
									<i></i>
									<span  class="J_time_icon">剩154天</span>
								</p>
							</div>
						</a>
						<span class="ui_btn_fav_like">
							<span class="ui_btn_fav_hover">
								<i></i>
								<span>收藏品牌</span>
							</span>
						</span>
					</div>
					{/query}
<!--  -->



					<div class="brand_item">
						<a href="">
							<img src="http://d.vpimg1.com/upcb/2016/07/25/60/40321119_570x273_90.jpg" alt="">
							<div class="brand_info">
								<span class="brand_discount">
									<span class="salebg2">1.2</span>
									折起
								</span>
								<span class="brand-name">维欧艾VOA女装真丝专场</span>
								<p>
									<i></i>
									<span  class="J_time_icon">剩154天</span>
								</p>
							</div>
						</a>
						<span class="ui_btn_fav_like">
							<span class="ui_btn_fav_hover">
								<i></i>
								<span>收藏品牌</span>
							</span>
						</span>
					</div>
					
					<div class="brand_item">
						<a href="">
							<img src="http://d.vpimg1.com/upcb/2016/07/25/60/40321119_570x273_90.jpg" alt="">
							<div class="brand_info">
								<span class="brand_discount">
									<span class="salebg2">1.2</span>
									折起
								</span>
								<span class="brand-name">维欧艾VOA女装真丝专场</span>
								<p>
									<i></i>
									<span  class="J_time_icon">剩154天</span>
								</p>
							</div>
						</a>
						<span class="ui_btn_fav_like">
							<span class="ui_btn_fav_hover">
								<i></i>
								<span>收藏品牌</span>
							</span>
						</span>
					</div>




				</div>
			</div>
		</div>
	</div>
	<!-- 尾部 -->
	<footer class="footer">
		<div class="footer_inner">
			<ul class="footer_th">
				<li><i class="footer_icon1"></i></li>
				<li><i class="footer_icon2"></i></li>
				<li><i class="footer_icon3"></i></li>
				<li><i class="footer_icon4"></i></li>
				<li><i class="footer_icon5"></i></li>
				<li><i class="footer_icon6"></i></li>
				<li><i class="footer_icon7"></i></li>
			</ul>
			<div class="footer_list">
				<dl class="link_anim">
					<dt>服务保障</dt>
					<dd><a href="" target="_blank" rel="nofollow">正品保证</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">7天无理由放心退</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">退货返运费</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">7x15小时客户服务</a></dd>
				</dl>
				<dl class="link_anim">
					<dt>购物指南</dt>
					<dd><a href="" target="_blank" rel="nofollow">导购演示</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">订单操作</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">会员注册</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">账户管理</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">收货样品</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">会员等级</a></dd>
				</dl>
					<dl class="link_anim">
					<dt>支付方式</dt>
					<dd><a href="" target="_blank" rel="nofollow">快捷支付</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">23家主流网银支付</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">货到付款</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">支付宝、银联等支付</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">信用卡支付</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">淘黄州钱包支付</a></dd>
				</dl>
				<dl class="link_anim">
					<dt>配送方式</dt>
					<dd><a href="" target="_blank" rel="nofollow">全场满288元免运费</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">配送范围及运费</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">验货与签收</a></dd>
				</dl>
				<dl class="link_anim">
					<dt>售后服务</dt>
					<dd><a href="" target="_blank" rel="nofollow">退货政策</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">退货流程</a></dd>
					<dd><a href="" target="_blank" rel="nofollow">退款方式和时效</a></dd>
				</dl>
				<dl class="tc last">
					<dt>淘黄州会APP二维码</dt>
				<dd>
				  <img class="lazy" src="http://a.vpimg4.com/upload/actpics/xuangou_daily/help/page_bottom_dl_n.png" width="100" height="100" alt="淘黄州会APP二维码">
				</dd>
					<dd>下载淘黄州会移动APP</dd>
				</dl>
				<div class="clear"></div>
			</div>
			<div class="footer_infor">
				<p class="footer_infor_link">
					<a target="_blank" rel="nofollow" href="" title="关于我们">关于我们</a>|
					<a target="_blank" rel="nofollow" href="" title="About us">About us</a>|
					<a target="_blank" rel="nofollow" href="" title="Investor Relations">Investor Relations</a>|
					<a target="_blank" rel="nofollow" href="" title="媒体报道">媒体报道</a>|
					<a target="_blank" rel="nofollow" href="" title="品牌招商">品牌招商</a>|
					<a target="_blank" rel="nofollow" href="" title="隐私条款">隐私条款</a>|
					<a target="_blank" rel="nofollow" href="" title="友情链接">友情链接</a>|
					<a target="_blank" rel="nofollow" href="" title="淘黄州诚聘">淘黄州诚聘</a>|
					<a target="_blank" rel="nofollow" href="" title="365爱心基金">365爱心基金</a>|
					<a target="_blank" rel="nofollow" href="" title="淘黄州卡">淘黄州卡</a>|
					<a target="_blank" rel="nofollow" href="" title="淘黄州地图">淘黄州地图</a>|
					<a target="_blank" href="" title="品牌大全">品牌大全</a>|
					<a target="_blank" href="" title="联系我们">联系我们</a>
				</p>
				<p class="footer_infor_txt">
           Powered by itaohz.com
Copyright © 2015 鄂ICP备15000956号

				</p>
			</div>
		</div>
		<div class="footer_ft">
			<a href="" class="footer_pic"></a>
			<a href="" class="footer_pic"></a>
			<a href="" class="footer_pic"></a>
			<a href="" class="footer_pic"></a>
			<a href="" class="footer_pic"></a>
			<a href="" class="footer_pic"></a>
			<a href="" class="footer_pic"></a>
		</div>
	</footer>
</body>
</html>