{js:artTemplate} 
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<script type="text/javascript" src="/plugins/baidumap/baidumap.js"></script>
<div class="headbar">
  <div class="position"><span>会员</span><span>></span><span>商户管理</span><span>></span><span>编辑商户</span></div>
</div>
<div class="content_box">
  <div class="content form_content">
    <form action="{url:/member/seller_add}" method="post" name="sellerForm" enctype='multipart/form-data'>
      <input name="id" value="" type="hidden" />
      <table class="form_table">
        <colgroup>
        <col width="150px" />
        <col />
        </colgroup>
        <tbody>
          <tr>
            <th>商户名：</th>
            <td><input class="middle" name="seller_name" type="text" value="" pattern="required" alt="用户名不能为空" />
              <label>* 用户名称（必填）</label></td>
          </tr>

          <tr>
            <th>账号类型：</th>
            <td>
              <select class="auto" name="user_type">
                <option value="0">商户</option>
                <option value="1">装修公司</option>
              </select>
            </td>
          </tr>

          <tr>
            <th>密码：</th>
            <td><input class="normal" name="password" type="password" bind='repassword' empty />
              <label>* 登录密码</label></td>
          </tr>
          <tr>
            <th>确认密码：</th>
            <td><input class="normal" name="repassword" type="password" bind='password' empty />
              <label>* 重复确认密码</label></td>
          </tr>
          <tr>
            <th>商户资质材料：</th>
            <td><input type='file' name='paper_img' />
              {if:isset($this->sellerRow['paper_img']) && $this->sellerRow['paper_img']}
              <p><a target="_blank" href="{webroot:}{$this->sellerRow['paper_img']}"><img src='{webroot:}{$this->sellerRow['paper_img']}' style='width:320px;border:1px solid #ccc' /></a></p>
              {/if} </td>
          </tr>
          <tr>
            <th>保证金数额：</th>
            <td><input type="text" class="middle" name="cash" pattern="float" empty />
              <label>人民币（元）</label></td>
          </tr>
          <tr>
            <th>手机号码：</th>
            <td><input type="text" class="middle" name="mobile" pattern="mobi" empty /></td>
          </tr>
          <tr>
            <th>是否开通：</th>
            <td><label class='attr'>
                <input type='radio' name='is_lock' value='0' checked='checked' />
                开通</label>
              <label class='attr'>
                <input type='radio' name='is_lock' value='1' />
                锁定</label>
              <label>锁定后商户无法登陆进行管理</label></td>
          </tr>
          <tr>
            <th>是否VIP：</th>
            <td><label class='attr'>
                <input type='radio' name='is_vip' value='0' checked='checked' />
                否</label>
              <label class='attr'>
                <input type='radio' name='is_vip' value='1' />
                是</label></td>
          </tr>
          <tr>
            <td></td>
            <td><button class="submit" type="submit"><span>确 定</span></button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
<div style="display:none">
  <div id="map-dialog">
    <input type="text" class='middle' empty value="" placeholder="请输入地址来直接查找相关位置" />
    <button onClick="" type="button">搜 索</button>
    <div id="map-dialog-maps" style="width:1100px;height:600px;"></div>
  </div>
  </div>
<script language="javascript">
//DOM加载完毕
$(function(){

	//修改模式
	{if:isset($this->sellerRow)}
		var formObj = new Form('sellerForm');
		formObj.init({echo:JSON::encode($this->sellerRow)});$("#labelAddress").text('{$this->sellerRow[address]}');


		//锁定字段一旦注册无法修改
		if($('[name="id"]').val())
		{
			var lockCols = ['seller_name'];
			for(var index in lockCols)
			{
				$('input:text[name="'+lockCols[index]+'"]').addClass('readonly');
				$('input:text[name="'+lockCols[index]+'"]').attr('readonly',true);
			}
		}
	{/if}
});


</script> 