<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>提现管理</span><span>></span><span>提现申请列表回收站</span></div>
	<div class="operating">
		<a href="javascript:;"><button class="operating_btn" type="button" onclick="window.location='{url:/member/withdraw_list}'"><span class="import">返回列表</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();$('form:first').attr('action','{url:/member/withdraw_del}');"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
		<a href="javascript:void(0)" onclick="delModel({msg:'是否恢复这次数据？'});$('form:first').attr('action','{url:/member/withdraw_update/type/res}');"><button class="operating_btn" type="button"><span class="recover">批量恢复</span></button></a>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col />
			<thead>
				<tr>
					<th class="t_c">选择</th>
					<th>用户名</th>
					<th>当前余额</th>
					<th>申请提现金额</th>
					<th>申请时间</th>
					<th>收款人姓名</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form action="#" method="post">
		<table class="list_table">
			<col width="40px" />
			<col />
			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=withdraw as w join=left join member as m on w.user_id eq m.user_id left join user as u on u.id eq w.user_id where=is_del eq 1 page=$page order=id desc fields=w.*,u.username,m.balance}
				<tr>
					<td class="t_c"><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td>{$item['username']}</td>
					<td>{$item['balance']}</td>
					<td>{$item['amount']} 元</td>
					<td>{$item['time']}</td>
					<td>{$item['name']}</td>
					<td>{echo:Common::getWithdrawStatus($item['status'])}</td>
					<td>
						<a href='{url:/member/withdraw_detail/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="查看" title="查看" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/member/withdraw_update/type/del/id/$item[id]}',msg:'确定要把此信息放入到回收站么？'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
