{set:$seller_id = IFilter::act(IReq::get('id'),'int')}
{set:$sellerRow=Api::run('getSellerInfo',$seller_id)}
{if:!$sellerRow}
{set:IError::show(403,'商户信息不存在')}
{/if}
{set:
	$seo_data=array();
	$site_config=new Config('site_config');
	$seo_data['title']=$sellerRow['true_name']."_".$site_config->name;
	$seo_data['keywords']=$keywords;
	$seo_data['description']=$description;
	seo::set($seo_data);
}
<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » 商户主页 » {$sellerRow['true_name']}</div>
<div class="wrapper clearfix container_2">

	<div class="sidebar f_l">
		<div class="shop_info">
			<div class="shop_info_title">{$sellerRow['true_name']}</div>
<!--			<p> 评分：<span class="gradeScore">
				<i style="width:{echo:Common::gradeWidth(statistics::gradeSeller($sellerRow['id']))}20px"></i></span>
			</p>
-->			<p> 销量：{echo:statistics::sellCountSeller($sellerRow['id'])} 件
			</p>
			<p> 电话：{$sellerRow['phone']}{$sellerRow['mobile']}</p>
			<p>
            	<span class="add_tit"> 地址：</span>
            	<span class="address"> {$sellerRow['address']}{$sellerRow[addressreference]}</span>
                </p>
<!--			<p style="padding:0px 14px"><a href="javascript:;" class="touch">QQ联系我们</a></p>
-->		</div>

		<!--促销规则-->
		<div class="box m_10">
			<div class="title">促销活动</div>
			<div class="cont">
				<ul class="list">
				{foreach:items=Api::run('getProrule',$seller_id)}
					<li>{$item['info']}</li>
				{/foreach}
				</ul>
			</div>
		</div>
		<!--促销规则-->

		<div class="box m_10">
			<div class="title">销售排行榜</div>
			<div class="content">
				<ul class="ranklist" id="ranklist">
					{foreach:items=Api::run('getGoodsListBySellerid',array('#seller_id#',$seller_id),10)}
					<li><span>{echo:intval($key+1)}</span><a href="{url:/site/products/id/$item[id]}"><img src="{url:/pic/thumb/img/$item[img]/w/58/h/58}" width="58px" height="58px" /></a><a href="{url:/site/products/id/$item[id]}" class="p_name">{$item['name']}</a><b>￥{$item['sell_price']}</b></li>
					{/foreach}
				</ul>
			</div>
		</div>

		<div class="box m_10">
			<div class="title">商家推荐</div>
			<div class="cont">
				<ul class="ranklist">

					{foreach:items=Api::run('getGoodsListBySelleridList',array('#seller_id#',$seller_id),10)}
					<li class='current'><a href="{url:/site/products/id/$item[id]}"><img src="{url:/pic/thumb/img/$item[img]/w/58/h/58}" width="58" height="58" /></a><a href="{url:/site/products/id/$item[id]}" class="p_name">{$item['name']}</a><b>￥{$item['sell_price']}</b></li>
					{/foreach}
				</ul>
			</div>
		</div>

	</div>

	<div class="main f_r">
		<div class="search_result_box clear">
            <div class="mall_rankl" style="width:938px">
                <ul class="rank_left_ul clear">
                    <li class="first">
                        <a>排序</a>
                    </li>
                    
                    {foreach:items=search_goods::getOrderType()}
					{set:$next = search_goods::getOrderValue($key)}
                    <li class="zr_hot {echo:search_goods::isOrderCurrent($key) ? 'current':''}">
                        <a href="{echo:search_goods::searchUrl('order',$next)}">
                            <em>{$item}</em><span></span>
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        
        <div class="list_container list_container1 mt10">
            {set:$goodsObj = search_goods::find(array('seller_id' => $seller_id));$resultData = $goodsObj->find();}
			{if:$resultData}
			{set:$listSize = search_goods::getListSize(IFilter::act(IReq::get('show_type')))}
            <ul id="goodsList" class="list clear">
                {foreach:items=$resultData}
                <li>
                    <a href="{url:/site/products/id/$item[id]}" class="pic" target="_blank">
                        <img src="{url:/pic/thumb/img/$item[img]/w/$listSize[width]/h/$listSize[height]}" alt="{$item['name']}" class="lazy" height="210" width="210" />
                    </a>
                    <div class="cur_pric">
                        <p class="cur_msg">
                            <a href="{url:/site/products/id/$item[id]}" target="_blank">{$item['name']}</a>
                        </p>
                        <p class="f_c_e81a62 cur_msg"></p>
                        <p class="pri_msg">
                            ￥<span class="f_arial">{$item['sell_price']}</span>
                            <del>￥{$item['market_price']}</del>
                        </p>
                        <p class="pri_total">
                            已售 <span>{$item['sale']}</span>件
                        </p>
                    </div>
                </li>
                {/foreach}
            </ul>
            {$goodsObj->getPageBar()}
    
            {else:}
            <p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px;text-align:center;'>
                <strong class="gray f14">对不起，没有找到相关商品</strong>
            </p>
            {/if}
        </div>
	</div>
</div>
