<div class="ht_right"> 
	<div class="order">
		<div class="uc_title m_10">
			<label><span><a href='{url:/ucenter/info}'>个人资料</a></span></label>
			<label class="current"><span><a href='{url:/ucenter/password}'>修改密码</a></span></label>
		</div>
		<div class="order_list">
			<form method="post" action="{url:/ucenter/password_edit}">
				<div class="order_left">
					<ul class="password">
						<li><span>旧密码</span>
							<input class="userInput" name="fpassword" pattern="required" alt="请输入原有密码" type="password">
						</li>
						<li><span>新密码</span>
							<input class="userInput" name="password" pattern="^\w{6,32}$" alt="密码由英文字母、数字组成，长度6-32位" bind="repassword" type="password">
						</li>
						<li><span>确认密码</span>
							<input class="userInput" name="repassword" pattern="^\w{6,32}$" alt="密码由英文字母、数字组成，长度6-32位" bind="password" type="password">
						</li>
					</ul>
					<input name="act" value="act_edit_password" type="hidden">
					<div class="clear"></div>
					<div class="order_right coupons_right">
						<input class="btn coupons btn_save" value="保存修改" type="submit">
					</div>
				</div>
			</form>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script>
$("#nav_6").attr("class","cta");
</script>