<link rel="stylesheet" href="../skin/yezhu/css/decorate_learning_list.css">
<div class="list-page-container">
<div class="left-side">
                <div class="selection-list-box"><div class="selection-level1">
                    装修前-准备阶段                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=16}">房产</a>
                    </div>

                    <div class="selection-level3-box ">                        </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=1}">收房</a>
                    </div>

                    <div class="selection-level3-box selected-level3-box">                                                                        </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=2}">设计</a>
                    </div>

                    <div class="selection-level3-box ">                                                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=3}">预算</a>
                    </div>

                    <div class="selection-level3-box ">                                                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=4}">合同</a>
                    </div>

                    <div class="selection-level3-box ">                        </div><div class="selection-level1">
                    装修中-施工阶段                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=5}">材料</a>
                    </div>

                    <div class="selection-level3-box "></div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=5}">拆改</a>
                    </div>

                    <div class="selection-level3-box ">                                                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=6}">水电</a>
                    </div>

                    <div class="selection-level3-box ">                                                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=9}">防水</a>
                    </div>

                    <div class="selection-level3-box ">                                                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=10}">泥瓦</a>
                    </div>

                    <div class="selection-level3-box ">                                                                        </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=1}">木工</a>
                    </div>

                    <div class="selection-level3-box ">                                                                                                                                                                                                                                                                        </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=12}">油漆</a>
                    </div>

                    <div class="selection-level3-box ">                                                                        </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=13}">安装收尾</a>
                    </div>

                    <div class="selection-level3-box ">                                                                                                                                                                        </div><div class="selection-level1">
                    装修后-入住阶段                </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=14}">软装</a>
                    </div>

                    <div class="selection-level3-box ">                                                                                                                     <div class="selection-level3">
                            <a href="/yezhu/list-h8s4">花卉</a>
                        </div>
                        </div><div class="selection-level2 ">
                        <div class="selection-arrow"></div>
                        <a href="{url:v_deco/article_list?tag=15}">入住</a>
                    </div>

                    <div class="selection-level3-box ">                                                                                                                     <div class="selection-level3">
                            <a href="{url:v_deco/article_list?cid=8}">装修风水</a>
                        </div>
                                                                        <div class="selection-level3">
                            <a href="{url:v_deco/article_list?cid=9}">家居生活</a>
                        </div>
                        </div></div>
        
<!--                 <div class="left-side-ad left-side-ad1">
            <a href="http://www.to8to.com/bx/index.php?hotid=5945&amp;bannerheaderurl=aHR0cDovL21hbGwudG84dG8uY29tL3RlbWFpL3p0MjMz" hidefocus="" target="_blank" rel="nofollow"><img src="http://pic.to8to.com/hot/504_5945.jpg?1451904000" width="240" height="130" alt="土巴兔商城精品汇"></a>        </div>

        <div class="left-side-ad left-side-ad2">
            <a href="http://www.to8to.com/zb/static.php?file=rzjdpx" hidefocus="" target="_blank" rel="nofollow"><img src="http://pic.to8to.com/hot/505_5598.jpg?1433593613" width="240" height="130" alt="软装品宣"></a>       </div>

        <div class="left-side-ad left-side-ad3">
            <a href="http://www.to8to.com/zb/static.php?file=lfjdpx" hidefocus="" target="_blank" rel="nofollow"><img src="http://pic.to8to.com/hot/516_5702.jpg?1432806364" width="240" height="130"></a>      </div> -->
                        
        <div class="hot-article">
            <div class="hot-article-title">
                热门文章
            </div>
            <div class="hot-article-list-box">
                <ul>
                    {query:name=jiaju_article order=sort asc limit=6}
                    <li>
                            <div class="img-box">
                                                                <a target="_blank" rel="nofollow" href="{url:v_deco/yezhu/id/$item['id']}"><img width="40" height="40" src="{url:/pic/thumb/img/$item['img']/w/40/h/40}" alt="{$item['title']}" rel="nofollow"></a>
                                                            </div>
                            <div class="title-box">
                                <p>
                                    <a target="_blank" href="{url:v_deco/yezhu/id/$item['id']}">{$item['title']}</a>
                                                                    </p>
                                <p class="summary">{$item['description']}</p>
                            </div>
                            <div class="clear-div"></div>
                        </li>
                        {/query}
                    </ul>
            </div>
        </div>

        <div class="new-article">
            <div class="new-article-title">
                最新文章
            </div>
            <div class="new-article-list-box">
                <ul>
{query:name=jiaju_article limit=6}
                    <li>
                                                        <a target="_blank" href="{url:v_deco/yezhu/id/$item['id']}">{$item['title']}</a>
                                                    </li>
                                                    {/query}
                                                </ul>
            </div>
        </div>


    </div>


    <div class="right-side">
                <div class="right-list-tool-bar">
            <a rel="nofollow" href="/yezhu/list.php?&amp;btype=1&amp;s=1&amp;c=shoufang" class="filter-btn-box filter-btn-box1 first ">
                <span>按浏览次数</span>
                <div class="arrow"></div>
            </a>
            <a rel="nofollow" href="/yezhu/list.php?&amp;btype=1&amp;s=3&amp;c=shoufang" class="filter-btn-box filter-btn-box2 currentSort">
                <span>按时间顺序</span>
                <div class="arrow"></div>
            </a>
    
        </div>
        

        <div class="list-box">
            <ul>
                {foreach:items=$this->article_list}
            <li>
                    <div class="img-box">
                        <div class="recommond-icon"></div>                      <a target="_blank" href="{url:v_deco/yezhu/id/$item['id']}" rel="nofollow">
                            <img width="140" height="140" src="{url:/pic/thumb/img/$item['img']/w/140/h/140}" alt="{$item['title']}">
                        </a>
                    </div>
                    
                    <div class="list-item-right">
                        <div class="list-item-title"><a target="_blank" href="{url:v_deco/yezhu/id/$item['id']}">{$item['title']}</a></div>
                        <div class="list-item-summary">{$item['description']}<span><a rel="nofollow" target="_blank" href="{url:v_deco/yezhu/id/$item['id']}">...[更多]</a></span></div>
                        <div class="list-item-info-bar">
                            <div class="info-bar-left">
                                <div class="info-icon view-icon"></div>
                                <span>1788</span>
                                <div class="info-icon collection-icon"></div>
                                <span>690</span>
                            </div>
                            <div class="info-bar-right">{$item['create_time']}</div>
                        </div>
                    </div>
                    <div class="clear-div"></div>
                </li>       
                {/foreach} 
            </ul>
        </div>
        <div class="pages-box"><div class="pages"><em>共有<b>197</b>篇文章</em><strong>1</strong><a href="/yezhu/shoufang/list_2.html">2</a><a href="/yezhu/shoufang/list_3.html">3</a><a href="/yezhu/shoufang/list_4.html">4</a><a href="/yezhu/shoufang/list_5.html">5</a><i>...</i> <a href="/yezhu/shoufang/list_14.html" class="last">14</a><a href="/yezhu/shoufang/list_2.html" class="next" id="nextpageid">下一页<b></b></a></div></div>
    </div>
</div>

<script>
    $(function() {
        var tag = {echo:IFilter::act(IReq::get('tag'), 'int');};
        $('.selection-level2').find('a[href="/v_deco/article_list?tag='+tag+'"]').addClass('selected');
    });
</script>