
{set:$img = current(explode(',', $this->show_img['img_list']))}
<div class="main_content">
    <div class="cpy_intro clearfix">
        <div class="video_part">
                           <img src="{url:/pic/thumb/img/$img/w/490/h/275}">
                    </div>
                
        <div class="cpy_details1 clearfix">
            <div class="scro_details1 clearfix">
                <div class="support1">
                    <ul>
                        <li class="clearfix">
                            <a href="#" class="support_text1" rel="nofollow" target="_blank"><em class="support_bg1"></em>支持免费量房<span class="gt_gray">&gt;</span></a>
                        </li>
                        <li class="clearfix">
                                                            <a href="#" class="support_text2" rel="nofollow" target="_blank"><em class="support_bg2"></em>支持满意后付款<span class="gt_gray">&gt;</span></a>
                                                    </li>
                        <li class="clearfix">
                            <a href="#" class="support_text3" rel="nofollow" target="_blank"><em class="support_bg3"></em>支持先行赔付<span class="gt_gray">&gt;</span></a>
                        </li>
                    </ul>
                </div>
                <div class="grade_details1 clearfix">
                    <!--<div class="score_dtls">
                        <span class="sco_text1">综合评分</span>
                        <span class="score1">8.8</span>
                    </div>-->
                    <div class="details_r1">
                        <dl>
                         <a href="#" rel="nofollow">
                          <dt>动态评分</dt>
                          							<dd>
							<span>设计水平</span>
							<i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_2"></i>							<b>4.4</b>
						   </dd>
						  							<dd>
							<span>服务态度</span>
							<i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_2"></i>							<b>4.2</b>
						   </dd>
						  							<dd>
							<span>施工质量</span>
							<i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_2"></i>							<b>4.0</b>
						   </dd>
						                            </a>
                        </dl>
                        <!--<ul>
                                                    </ul>-->
                    </div>
                </div>
            </div>
            <div class="cpy_text">
                <p class="intro_title">公司简介</p>
                <p class="intro_text" style="height: 39px;   overflow: hidden;">{$this->company['smalldescribe']}<a class="intro_more" href="/zs/company3848551/" rel="nofollow" target="_blank">更多</a></p>
            </div>
            <div class="order_free clearfix">
                <input class="order_btn" type="submit" value="免费申请预约" onclick="freeBooking({toid:'3848551',s_source:75, ptag:'1_5_2_1'});">
                <div class="order_hotline">
                    预约热线：<span class="num1">{$this->company['mobile']}</span>,已有<span class="num1">0</span>人咨询
                </div>
            </div>
        </div>
            </div>
    <!-- <div class="amount_house clearfix"> -->
        <!-- <div class="amount_l">
            <div class="team_title">
                <span class="team_txt">免费量房</span>
                <span class="vertical_bar"></span>
                <a class="click_apply apply" href="#" target="_blank" rel="nofollow">点击申请<span class="gt_green">&gt;</span></a>
                <a class="order_more" href="#" target="_blank" rel="nofollow">更多<span class="gt_gray">&gt;</span></a>
            </div>
            <div class="amout_list">
                <ul class="amt_title clearfix">
                    <li>业主</li>
                    <li>区域</li>
                    <li>户型</li>
                    <li>面积</li>
                    <li>预算</li>
                </ul>
                                                <a href="#" target="_blank">
                    <ul class="amt_list1 clearfix">
                        <li>汤(先生)</li>
                        <li>武汉市江汉区</li>
                        <li>住宅公寓</li>
                        <li>90<span class="unit">m<sup>2</sup></span></li>
                        <li>5-8万</li>
                    </ul>
                </a>
                                <a href="#" target="_blank">
                    <ul class="amt_list1 clearfix">
                        <li>李(先生)</li>
                        <li>武汉市洪山区</li>
                        <li>住宅公寓</li>
                        <li>120<span class="unit">m<sup>2</sup></span></li>
                        <li>8-12万</li>
                    </ul>
                </a>
                                <a href="#" target="_blank">
                    <ul class="amt_list1 clearfix">
                        <li>胡(女士)</li>
                        <li>武汉市东西湖区</li>
                        <li>住宅公寓</li>
                        <li>120<span class="unit">m<sup>2</sup></span></li>
                        <li>5-8万</li>
                    </ul>
                </a>
                                <a href="#" target="_blank">
                    <ul class="amt_list1 clearfix">
                        <li>成(女士)</li>
                        <li>武汉市汉阳区</li>
                        <li>住宅公寓</li>
                        <li>94<span class="unit">m<sup>2</sup></span></li>
                        <li>8-12万</li>
                    </ul>
                </a>
                                <a href="#" target="_blank">
                    <ul class="amt_list1 clearfix">
                        <li>舒(女士)</li>
                        <li>武汉市东西湖区</li>
                        <li>住宅公寓</li>
                        <li>123<span class="unit">m<sup>2</sup></span></li>
                        <li>8-12万</li>
                    </ul>
                </a>
                                            </div>
        </div> -->
        <!-- <div class="amount_r">
            <div class="r_title clearfix">
                <span class="title_txt">装修优惠</span>
                <div class="fix_r">
                    <a class="amtr_more" href="#" rel="nofollow">更多<span class="gt_gray">&gt;</span></a>
                </div>
            </div>
            <div class="noprivilege"></div>
        </div> -->
            <!-- </div> -->
        <div class="design_plan">
        <div class="team_title">
            <span class="team_txt">设计方案</span>
            <span class="plan_num1">（{echo:count($this->designer_works)}）</span>
            <a href="/zs/case3848551/" class="order_more" target="_blank" rel="nofollow">更多<span class="gt_gray">&gt;</span></a>
        </div>
        <div class="blog_main_r">
            <ul class="clearfix">
                {foreach:items=$this->designer_works}
                                <li>
                    <a href="{url:v_deco/designer_works/id/$item[id]}" target="_blank">
                        <img src="{url:/pic/thumb/img/$item['logo']/w/315/h/220}" alt="{$item['name']}">
                        <div class="exp">
                            <div class="exp_t">{$item['name']}</div>
                            <div class="exp_b clearfix">
                                <span class="exp_tag">普通住宅<em></em></span>                                 <span class="exp_tag">地中海<em></em></span>                                <span class="exp_tag">全包 <em></em></span>                                <span class="exp_tag">10万</span>                                 <span class="exp_date">2015-10-18 </span>                            </div>
                        </div>
                        <!--
                        <span class="exp_l"><b></b><em>[&nbsp;4&nbsp;]</em></span>
                        -->
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
        
        <div class="design_team">
        <div class="team_title">
            <span class="team_txt">设计团队</span>
            <span class="plan_num1">（{echo:count($this->designer)}）</span>
            <a href="#" class="order_more" target="_blank" rel="nofollow">更多<span class="gt_gray">&gt;</span></a>
        </div>
        <div class="team_list">
            <ul class="clearfix">
                    {foreach:items=$this->designer}
                        <li>
                        <div class="designer_pic1">
                            <a href="#" target="_blank"><img src="{url:/pic/thumb/img/$item['logo']/w/100/h/100}" alt="{$item['name']}" width="100" height="100"></a>
                            <div class="shade"></div>
                            <div class="designer_cov"></div>
                            <a href="#" class="cov_text">
                                <span>设计方案</span>
                                <em>3</em>
                            </a>
                        </div>
                        <p class="designer_name1"><a href="#" target="_blank">{$item['name']}</a></p>
                            <p class="job_title"><a href="#" target="_blank">设计总监</a></p>
                        </li>
                    {/foreach}
            </ul>
        </div>
    </div>
    
<!--         <div class="comment">
        <div class="team_title">
            <span class="team_txt">业主点评</span>
            <span class="plan_num1">（51）</span>
            <a class="order_more" href="#" target="_blank" rel="nofollow">更多<span class="gt_gray">&gt;</span></a>
        </div>
        <div class="cmt_details">
            <ul>
                                <li class="clearfix">
                	<div class="memb_head1">
													保利心语苏小姐的新家												<div class="finish_place">
                 
                            <span class="plot_name"> </span>
                            <span class="plot_area">135M²</span>                            <span class="plot_payment">11.38万</span>                            <span class="plot_style">简约</span>
                  
                        </div>
                    </div>
                    <div class="comment_datails1">
                        <div class="cmt_title1 clearfix">
                            <div class="ct_dp_left">
                                <p class="cmt_stage"><span class="chg_color">泥木验收</span></p>
                                
                                <p class="sheji_scro oth clearfix">
                                    <span>施工：3</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_3"></i><i class="ystar_3"></i>                                </p>
								<p class="severce_scro clearfix">
                                    <span>服务：3</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_3"></i><i class="ystar_3"></i>                                </p>
                            </div>
                            <div class="ct_dp_right"><span class="memb_name">傻的可以</span></div>
                        </div>
                        <p class="cmt_content">设计师中途辞职，很多事情没有和施工经理沟通好！设计师之前答应我们的事情，现在没人玉米！还收3000块钱设计费，到现在没看到一张效果图！还有很多细节做的不好，门防水都不是很满意！</p>
                        <div class="plot_time">2016-03-08 17:09:54</div>
                    </div>
                </li>
                                <li class="clearfix">
                	<div class="memb_head1">
													光谷地产梅花坞张先生(先生)的新家												<div class="finish_place">
                 
                            <span class="plot_name"> </span>
                            <span class="plot_area">91M²</span>                            <span class="plot_payment">6.8万</span>                            <span class="plot_style">现代</span>
                  
                        </div>
                    </div>
                    <div class="comment_datails1">
                        <div class="cmt_title1 clearfix">
                            <div class="ct_dp_left">
                                <p class="cmt_stage"><span class="chg_color">设计与服务</span></p>
                                
                                <p class="sheji_scro oth clearfix">
                                    <span>设计：5</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i>                                </p>
								<p class="severce_scro clearfix">
                                    <span>服务：5</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i>                                </p>
                            </div>
                            <div class="ct_dp_right"><span class="memb_name">狸先生_3423</span></div>
                        </div>
                        <p class="cmt_content">很专业，态度很好，提供了不少好的建议，非常感谢～</p>
                        <div class="plot_time">2016-03-07 00:08:24</div>
                    </div>
                </li>
                                <li class="clearfix">
                	<div class="memb_head1">
													东湖壹号程女士的新家												<div class="finish_place">
                 
                            <span class="plot_name"> </span>
                            <span class="plot_area">231M²</span>                            <span class="plot_payment">10.2万</span>                            <span class="plot_style"></span>
                  
                        </div>
                    </div>
                    <div class="comment_datails1">
                        <div class="cmt_title1 clearfix">
                            <div class="ct_dp_left">
                                <p class="cmt_stage"><span class="chg_color">设计与服务</span></p>
                                
                                <p class="sheji_scro oth clearfix">
                                    <span>设计：5</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i>                                </p>
								<p class="severce_scro clearfix">
                                    <span>服务：5</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i>                                </p>
                            </div>
                            <div class="ct_dp_right"><span class="memb_name">蝶恋花_5294</span></div>
                        </div>
                        <p class="cmt_content">装修公司的设计师，施工现场的工长，都很好沟通，能为顾客着想，点个赞！</p>
                        <div class="plot_time">2016-03-06 19:01:49</div>
                    </div>
                </li>
                                <li class="clearfix">
                	<div class="memb_head1">
													当代光谷智慧城田小姐的新家												<div class="finish_place">
                 
                            <span class="plot_name"> </span>
                            <span class="plot_area">158M²</span>                            <span class="plot_payment">11.67万</span>                            <span class="plot_style">简欧</span>
                  
                        </div>
                    </div>
                    <div class="comment_datails1">
                        <div class="cmt_title1 clearfix">
                            <div class="ct_dp_left">
                                <p class="cmt_stage"><span class="chg_color">油漆验收</span></p>
                                
                                <p class="sheji_scro oth clearfix">
                                    <span>施工：4</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_3"></i>                                </p>
								<p class="severce_scro clearfix">
                                    <span>服务：4</span>
                                    <i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_1"></i><i class="ystar_3"></i>                                </p>
                            </div>
                            <div class="ct_dp_right"><span class="memb_name">不汝还者</span></div>
                        </div>
                        <p class="cmt_content">油漆有些裂缝未处理好，需要返工</p>
                        <div class="plot_time">2016-03-03 08:08:08</div>
                    </div>
                </li>
                            </ul>
        </div>
    </div> -->
    </div>



<link rel="stylesheet" href="../skin/company/zgs_global.css">
<link rel="stylesheet" href="../skin/company/zgs_blog.css">