<div class="zgs_nav_div">
    	<div class="znd">
            <ul>
                <li>
                    <a href="/zs/3848551/">
                        <span>{$this->company['name']}</span><em></em>
                    </a>
                 </li>
                <li>
                    <a href="/zs/visit3848551/">
                        <span>装修工地</span><em></em>
                    </a>
                </li>
                <li class="on">{$this->designer_works['name']}</li>
            </ul>
       </div>
</div>

<div class="main_content clearfix zgs_design">
    <div class="case_main clearfix">
        <div class="case_pics">
	       			        <a href="/zs/3848551/3027716visit1-display-1.html"><img width="200" height="200" title="{$this->designer_works['name']}" alt="光谷新世界" src="{url:/pic/thumb/img/$this->designer_works['logo']/w/200/h/200}"></a>
			            </div>
        <div class="case_details">
            <div class="case_name">
              <a href="javascript:void(0);" class="case_details_name" title="{$this->designer_works['name']}">{$this->designer_works['name']}</a>
			                <!--<span class="case_check"><em>365</em>人已查看</span>-->
            </div>
            <div class="case_tag clearfix">
                <span>武汉</span>                <span class="case_tag_span">光谷新世界</span>                <span>10万</span>                <span>全包</span>                <span>123m²</span>                <span>地中海</span>                            </div>
            <div class="case_progress">
                <ul class="clearfix">
                    <li class="on_li"><em class="progress_dot"></em>准备开工</li><li><em class="progress_dot"></em>水电阶段</li><li><em class="progress_dot"></em>泥木阶段</li><li><em class="progress_dot"></em>油漆阶段</li><li><em class="progress_dot"></em>竣工阶段</li>                </ul>
            </div>
        </div>
       	<input class="case_btn" type="submit" value="免费预约参观" onclick="freeOrder({toid:3848551,gid:3027716, ptag:'1_5_2_5'});return false;">

    </div>
    <div class="zgs_design_nav">
        <ul class="clearfix">
			<li><a href="javascript:;" class="on">设计方案</a></li>
			
			<li><a href="javascript:;">施工案例</a></li>
			
					
        </ul>
        <a href="javascript:;" class="zgs_design_nav_free" onclick="freeOrder2({toid:3848551,gid:3027716, ptag:'1_5_2_8'});return false;">找Ta帮我设计</a>
    </div>

    

    <div class="design_nav_sheji" style="display:block;">
		        <div class="design_ins">
            <a href="/zs/3848551/team-display-t87160.html" class="design_ins_avt"><img src="{url:/pic/thumb/img/$this->designer['logo']/w/100/h/100}" alt="{$this->designer['name']}" width="60" height="60"></a>
            <div class="design_ins_text">
                <p class="design_ins_er"><a href="/zs/3848551/team-display-t87160.html" target="_blank">{$this->designer['name']}</a>&nbsp;&nbsp;设计灵感</p>
                <div>
                                     <span class="text_bgl"></span>{$this->designer['smalldescribe']}<span class="text_bgr"></span>
                                    </div>
            </div>
        </div>
		        <div class="design_detail">

		        	{$this->designer_works['describe']}

       		 </div>
    </div>

    

    

    <div class="design_nav_case clearfix">
        <div class="zgs_design_step">
            <ul>
                <li class="step_on"><em class="step_ico"></em><a href="javascript:;">准备阶段</a></li>
																            </ul>
        </div>
        <div class="zgs_design_cont">
            <div class="cont_bd">
                <div class="cont_item">
                    <span class="cont_item_hd" id="zb">准备开工</span>
                    <div class="cont_item_bd design_detail">
                        <div class="detail_item">
                          <span class="item_hd">签约合同</span>
                          <div class="item_bd">

                          </div>
                        </div>
                                            </div>
                </div>
																                
				
            </div>

        </div>
    </div>

    
	
    

	
    
    <div class="design_nav_yezhu clearfix" id="yzdp">

        <div class="zgs_design_cont">
            <div class="cont_bd">
                <div class="cont_item cont_item_first">
                    <span class="cont_item_hd">准备开工</span>
                    <div class="cont_item_bd">
                        <div class="comment_item">
													  <div class="cmt_none">正在装修，请等待业主评价  </div>
							
                        </div>
                    </div>
                </div>
				
                <div class="cont_item">
                    <span class="cont_item_hd">水电阶段</span>
                    <div class="cont_item_bd">
                        <div class="comment_item">
													  <div class="cmt_none">正在装修，请等待业主评价  </div>
							                        </div>
                    </div>
                </div>
                <div class="cont_item">
                    <span class="cont_item_hd">泥木阶段</span>
                    <div class="cont_item_bd">
                        <div class="comment_item">
                            							  <div class="cmt_none">正在装修，请等待业主评价  </div>
							                        </div>
                    </div>
                </div>
                <div class="cont_item">
                    <span class="cont_item_hd">油漆阶段</span>
                    <div class="cont_item_bd">
                        <div class="comment_item">
                            							  <div class="cmt_none">正在装修，请等待业主评价  </div>
							                        </div>
                    </div>
                </div>
	
				
                <div class="cont_item">
                    <span class="cont_item_hd">竣工阶段</span>
                    <div class="cont_item_bd">
                        <div class="comment_item">
                           							  <div class="cmt_none">正在装修，请等待业主评价  </div>
							                        </div>
                    </div>
                </div>
            </div>
             <a href="/zs/yz_dp.php?uid=3848551" target="_blank" class="to_allComments">查看全部业主对武汉华业峰尚装饰有限公司的评价 <em></em></a>
        </div>
    </div>
    
	
	 
            </div>

<link rel="stylesheet" href="../skin/company/zgs_global.css">
<link rel="stylesheet" href="../skin/company/zgs_blog.css">
<link rel="stylesheet" href="../skin/designer_works/zgs.css">