<div class="banner banner2">
  <div class="top_bar"> <a href="#" class="top_nav1" searchtage="1_4_18_164" style="width: 33%;"><span></span></a> <a href="#" class="top_nav2_act" searchtage="1_4_18_165" style="width: 33%;;"><span></span><i>HOT</i></a> <a href="#" class="top_nav3 top_zhb_nav" searchtage="1_4_18_166" style="width: 34%;;"><span></span></a> </div>
  <div class="container clearfix"> <a href="http://www.to8to.com/yezhu/zxbj.php" onclick="clickStream.getCvParams('1_4_2_7');" target="_blank" class="link" style="margin-left:-20px"></a>
    <div class="login_box" style="height:400px;">
      <div class="login_home">
        <form method="post" action="javascript:freeZhaoBiao(0)" id="free_zhaobiao" autocomplete="off">
          <p class="login_text">今日已有<span class="apply_dn">0</span>业主申请，本月申请人数已达<span class="apply_mn">0</span></p>
          <div class="login_select">
            <input type="text" name="chenghu" id="chenghu" maxlength="20">
            <span>您的称呼</span></div>
          <div class="login_select">
            <input type="text" name="phone" id="myphone1">
            <span>手机号码</span></div>
          <div class="select_list ovh"> </div>
          <div class="login_select">
            <textarea name="demo" id="demo" maxlength="140"></textarea>
            <span>您可以在这里详细描述您想要的设计风格，装修<br>
            要点等其他要求。</span> </div>
          <input type="hidden" value="0" name="yuyue_type" id="yuyue_type">
          <input type="hidden" value="" name="word" id="word">
          <input type="hidden" value="/zb/" name="req">
          <input type="hidden" value="1_4_2_1" name="ptag">
          <a href="javascript:;" onclick="javascript:;" class="btn_free" id="btn_free1">免费申请</a>
          <p class="login_text2"><i></i>我们承诺：淘黄州提供该项<span>免费服务，绝不产生任何费用</span>，为了您的利益以及我们的口碑，您的隐私将被严格保密。</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="vs_box"> <img src="skin/img/sjybj_vs2_new.jpg" width="1105" height="719" alt="装修同行VS土巴兔"> </div>
<div class="design_box design_box1">
  <div class="container">
      <div class="design_box_img"></div>
  </div>
</div>
<div class="design_box design_box2">
  <div class="container">
    <div class="design_box_img"></div>
  </div>
</div>
<div class="design_box design_box3">
  <div class="container">
    <div class="design_box_img"></div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="skin/zb/sjybj.css">
