<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>物流跟踪查询</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body style="width:650px;max-height:420px;overflow-y:scroll">
	<div class="container">
		<table class='table table-condensed'>
			{foreach:items = $this->data}
			<tr>
				<td>
					{$item['time']}
					<p>{$item['station']}</p>
				</td>
			</tr>
			{/foreach}
		</table>
	</div>
</body>
</html>
