@charset "utf-8";
/* CSS Document */

/*页面整体宽度控制*/
.wrapper { width: 1200px; margin: auto;}
/* 公用头部区域 
-------------------------------------- */
.header-wrap { background-color: #FFF; width: 100%;}
.public-head-layout { height: 100px;}
/* 站点logo */
.public-head-layout .site-logo { width: 240px; height: 60px; float: left; margin: 15px 10px auto 0;}
.public-head-layout .site-logo img { max-width: 240px; max-height: 72px;}
.public-head-layout .site-ad { width: 192px; height: 70px; float: left; margin: 10px 10px auto 0;}
.public-head-layout .site-ad img { max-width: 192px; max-height: 70px;}
/* 头部搜索 */
.head-search-bar { width: 440px; float: left; margin: 17px 0 0 25px; overflow: hidden;} 
.head-search-bar .search-form { background-color: #4c88e0; height: 36px; padding: 3px;}
.head-search-bar .input-text { line-height: 24px; color: #555; width: 74%; height: 24px; float: left; padding: 6px 1%; border: none 0;}
.head-search-bar .input-submit,
.head-search-bar .input-submit:hover { font-size: 14px; color: #FFF; font-weight: 600; background-color: transparent; width: 15%; height: 36px; float: right; border: none; cursor: pointer;}
.head-search-bar .keyword { line-height: 20px; color: #999; width: 500px; height: 20px; margin-top: 4px; overflow: hidden;}
.head-search-bar .keyword ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: top; display: inline-block; *display:inline/*IE6、7*/;}
.head-search-bar .keyword ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin-right: 12px;}
.head-search-bar .keyword ul li a { color: #777;}
/* 头部用户型菜单*/
.head-user-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: right; margin: 18px 0 0 0; }
.head-user-menu dl { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin-left: 10px; position: relative; z-index: 3; *zoom:1/*IE6、7*/;}
.head-user-menu dl.my-mall { width: 108px;}
.head-user-menu dl.my-cart { width: 124px;}
.head-user-menu dl.hover { z-index: 101;}
.head-user-menu dl dt { line-height: 20px; color: #555; background-color: #FAFAFA; height: 20px; padding: 10px; border: solid 1px #F0F0F0; position: absolute; z-index: 2; top: 0; right: 0; cursor: pointer;}
.head-user-menu dl.my-mall dt { width: 90px;}
.head-user-menu dl.my-cart dt { width: 106px;font-size: 16px;}
.head-user-menu dl.hover dt { background-color: #FFF; border-width: 1px; border-color: #F0F0F0 #F0F0F0 #FFF #F0F0F0;}
.head-user-menu dl dt span.ico { background: url(../images/top_bg.png) no-repeat; vertical-align: middle; display: inline-block; width: 20px; height: 16px; }
.head-user-menu dl.my-mall span.ico { background-position: -100px 0; margin-right: 4px;}
.head-user-menu dl.my-cart span.ico { background-position: -120px 0; margin-right: 8px;}
.head-user-menu dl dt i { font-size: 0px; line-height: 0; vertical-align: middle; display: inline-block; width: 0px; height: 0px; margin-left: 8px; border-width: 4px; border-color: #777 transparent transparent transparent; border-style:solid dashed dashed dashed; -webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.head-user-menu dl.hover dt i { FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.head-user-menu dl dd { background-color: #FFF; display: none; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 40px; right: 0; }
.head-user-menu dl.my-mall dd { width: 308px;}
.head-user-menu dl.my-cart dd { width: 348px;}
.head-user-menu dl.hover dd { display: block;}
.head-user-menu dl dd a { color: #005EA6;}
.head-user-menu a.arrow i { background:url(../images/top_bg.png) no-repeat -150px 0; vertical-align: middle; display: inline-block; width: 4px; height: 7px; margin-left: 4px;}
.head-user-menu dl dd .goods-thumb { width: 50px; height: 50px;}
.head-user-menu dl dd .goods-thumb a { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 48px; height: 48px; border: solid 1px #DDD; overflow: hidden; }
.head-user-menu dl dd .goods-thumb img { max-width: 48px; max-height: 48px; margin-top:expression(48-this.height/2); *margin-top:expression(24-this.height/2);}
.head-user-menu dl dd .sub-title { line-height: 28px; height: 28px; padding: 7px; border-bottom: solid 1px #DDD;}
.head-user-menu dl dd .sub-title h4 { font-weight: 600; float: left;}
.head-user-menu dl dd .sub-title a { float: right;}
.head-user-menu dl dd .user-centent-menu { width: 308px; padding: 8px 0; overflow: hidden;}
.head-user-menu dl dd .user-centent-menu ul { width: 310px; margin-left: -2px;}
.head-user-menu dl dd .user-centent-menu ul li { width: 138px; float: left; padding: 4px 0 4px 16px; border-left: solid 1px #EEE; }
.head-user-menu dl dd .browse-history { background-color: #FAFAFA; width: 308px; border-style: solid; border-width: 1px 0 0; border-color: #DDD transparent transparent;}
.head-user-menu dl dd .browse-history .part-title { height: 20px; padding: 6px 8px; }
.head-user-menu dl dd .browse-history .part-title h4 { float: left;}
.head-user-menu dl dd .browse-history .part-title a { float: right;}
.head-user-menu dl dd .browse-history ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 0 7px 7px 7px;}
.head-user-menu dl dd .browse-history ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; margin: 0 4px; *zoom: 1;}
.head-user-menu dl dd .browse-history .no-goods { text-align: center; display: block; width: 100%; font-size: 12px;}
.head-user-menu dl dd .incart-goods-box { display: block; width: 348px; max-height: 267px; overflow: hidden; position: relative;}
.head-user-menu dl dd .incart-goods { text-align: center; width: 100%;}
.head-user-menu dl dd .incart-goods .no-order { margin: 20px 0;}
.head-user-menu dl dd .incart-goods .loading { width: 16px; height: 16px; margin: 20px auto;}
.head-user-menu dl dd .incart-goods dl { display: block; width: 98%; height: 66px; clear: both; margin: 0 auto 0 2%; border-bottom: dotted 1px #DDD; position: relative; z-index: 1; }
.head-user-menu dl dd .incart-goods dt, .head-user-menu dl dd .incart-goods dd { background-color: transparent; border: 0; position: absolute; z-index: 1; }
.head-user-menu dl dd .incart-goods dt.goods-name { line-height: 16px; background-color: transparent; text-align: left; width: 180px; height: 32px; padding: 0; top: 8px; left: 64px; }
.head-user-menu dl dd .incart-goods dt.goods-name a { color: #333;}
.head-user-menu dl dd .incart-goods dd.goods-thumb { top: 8px; left: 8px;}
.head-user-menu dl dd .incart-goods dd.goods-price { text-align: right; width: 80px; height: 16px; top: 6px; right: 12px;}
.head-user-menu dl dd .incart-goods dd.goods-price em { font-size: 11px !important; font-weight: normal!important; line-height: 16px; color: #777 !important; word-break: break-all; word-wrap: break-word; text-overflow: ellipsis; white-space: nowrap; text-align: right; width: 50px; margin-right: 4px; overflow: hidden; -webkit-text-size-adjust:none;}
.head-user-menu dl dd .incart-goods dd.goods-sales { line-height: 16px; color: #999; background-color: transparent; width: 270px; height: 16px; top: 42px; left: 64px; }
.head-user-menu dl dd .incart-goods dd.handle {  width: 32px; top: 22px; right: 10px;}
.head-user-menu dl dd .checkout { background-color: #F0F0F0; text-align: right; padding: 8px; overflow: hidden;}
.head-user-menu dl dd .checkout .total-price { line-height: 20px; display: block;}
.head-user-menu dl dd .checkout .total-price i { font-weight: 600; color: #4C88E0; margin: 0 4px;}
.head-user-menu dl dd .checkout .total-price em { font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-weight: 600; color: #C00;}
.head-user-menu dl dd .checkout .btn-cart { float: right; clear: both; line-height: 20px; color: #FFF; background-color: #4c88e0; padding: 4px 8px; margin-top: 4px; border-radius: 4px;}
.head-user-menu dl div.addcart-goods-num { font: bold 11px/14px Verdana; color: #FFF; background: #F00; text-align: center; display: inline-block; height: 16px; min-width: 16px; max-width: auto!important; border: none 0; border-radius: 8px; position: absolute; z-index: 3; top: -4px; left: 20px;}

/* 公用导航区域 
-------------------------------------- */
.public-nav-layout {height: 42px;margin: 0px auto;position: relative;z-index: 99;border-bottom: 2px solid #3966a9;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);}
/*站点导航菜单*/
.public-nav-layout .site-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: left;}
.public-nav-layout .site-menu li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; *zoom: 1;}
.public-nav-layout .site-menu li a {font-size: 16px;line-height: 36px;height: 36px;padding: 0px 20px;display: inline-block;*display:inline/*IE6、7*/; color: rgb(51, 51, 51);font-weight: normal;}
.public-nav-layout .site-menu li a:hover { text-decoration: none;color: #CA3300;}
.public-nav-layout .site-menu li a.currents { text-shadow: 1px 1px 0 rgba(0,0,0,0.2); background-color: #A40000;}
/*分类导航菜单*/
.public-nav-layout .all-category { 
    display: block;
    width: 212px/*188px*/;
    height: 44px;
    float: left;
    border: solid #3966a9;
    border-width: 0;
    /* border-right-width: 2px; */
    border-left-color: #a40000;
    background-color: #3966A9;
}
.public-nav-layout .all-category .title { line-height: 21px; height: 24px; padding: 10px;    box-shadow: 0 0px 4px rgba(0,0,0,1);}
.public-nav-layout .all-category .title h3 a { font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53; font-size: 14px; color: #FFF; float: left; margin-left: 4px;}

.public-nav-layout .all-category .title i { font-size: 0px; line-height: 0; width: 0px; height: 0px; float: right; margin: 10px 4px 0 0; border-width: 5px; border-color: #FFF transparent transparent transparent; border-style: solid dashed dashed dashed;}
 
.public-nav-layout .all-category .category { display:none; /*filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19000000', endColorstr='#19000000'); background:rgba(0,0,0,0.1) #358000; width: 190px; height:480px;*/}
.public-nav-layout .all-category:hover .category { display:block;}
/*.public-nav-layout .category .menu { background-color: #FFF;}
.public-nav-layout .category .menu li { background-color: #FAFAFA; width: 182px; height: 50px; *float: left; *clear: left; border-top: solid 1px #f4f6ed; position: relative; z-index: 1; zoom:1;}
.public-nav-layout .category .menu li.odd { background-color: #f4f6ed;}
.public-nav-layout .category .menu li.even { background-color: #f4f6ed;}
.public-nav-layout .category .menu li.hover { z-index: 2;}
.public-nav-layout .category .class { border-style: solid; border-width: /*1px 0 1px 4px ;border-color: transparent; display: block; width: 154px; height: 35px; line-height:35px; padding: 7px 15px; position: absolute; z-index: 1; top: -1px; left: -2px;}
.public-nav-layout .category .hover .class { background-color: #FFF!important; border-color: #e43b3e transparent #e43b3e #e43b3e; z-index: 2;}
.public-nav-layout .category .class span.ico { margin-left:10px; width: 28px; height: 20px; float: left; margin-right: 6px; float:left;/* filter:alpha(opacity=50)/*IE*//*;-moz-opacity:0.5/*Moz+FF*//*; opacity: 0.5;*/}
/*.public-nav-layout .category .menu li.hover .ico { filter:alpha(opacity=100)/*IE; -moz-opacity:1/*Moz+FF; opacity: 1;}
.public-nav-layout .category .class span.ico img {padding-top: 7px;/*vertical-align: middle; max-width: 28px; max-height: 24px;/* -webkit-filter: grayscale(100%)/*Webkit*//*; -o-filter: grayscale(100%); filter: gray;*/}
/*.public-nav-layout .category .menu li.hover .ico img { -webkit-filter: grayscale(0)/*Webkit; -o-filter: grayscale(0); filter: none;}
.public-nav-layout .category .class h4 { font-weight: 600; line-height: 40px; color: #333; height: 35px; float: left;}
.public-nav-layout .category .class h4 a { color: #cd2a2d; font-size:14px;}

.public-nav-layout .category .menu li.hover .class h4 a { color: #cd2a2d}
.public-nav-layout .category .class .recommend-class { line-height: 16px; width: 168px; height: 16px; float: left; clear: both; margin-top: 4px; overflow: hidden;}
.public-nav-layout .category .class .recommend-class a { color: #999; white-space: nowrap; margin-right: 6px;}
.public-nav-layout .category .class .arrow { /*background: url(../images/top_bg.png) no-repeat -150px -10px; background: url(../images/icon.gif) no-repeat; width: 6px; height: 9px; float: right; margin-right:25px; margin-top:15px;}
.public-nav-layout .category .sub-class { background-color: #FFF; display: none; width: 532px; padding: 0 7px; border: solid 2px #e43b3e; position: absolute; z-index: 1;top: -1px; left: 182px;}
.public-nav-layout .category li.hover .sub-class { display: block;}
.public-nav-layout .category .sub-class dl { /*width: 250px; margin: 8px 0; float: left; }
.public-nav-layout .category .sub-class dl dt { line-height: 24px; border-bottom: solid 2px #333;}
.public-nav-layout .category .sub-class dl dt h3 { font-weight: 600; color: #333;}
.public-nav-layout .category .sub-class dl dd { font-size: 0; *word-spacing:-1px/*IE6、7; padding: 3px 0;}
.public-nav-layout .category .sub-class dl dd.brands-class { border-top: dotted 1px #333; margin-top: 4px;}
.public-nav-layout .category .sub-class dl dd a { font-family: Tahoma; font-size: 12px; line-height: 16px; color: #555; background: url(../images/top_bg.png) no-repeat right -24px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7; height: 16px; padding-right: 7px; margin: 2px 7px 2px 0; *zoom:1/*IE6、7;}
.public-nav-layout .category .sub-class dl dd h5 { font-size: 12px; line-height: 20px; color: #333; margin: 4px 0 2px 0;}*/

/* 面包屑所在位置 */
.nch-breadcrumb-layout { text-align: center;}
.nch-breadcrumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: left; height: 20px; padding: 10px 0; margin: 0 auto;}
.nch-breadcrumb span { font-size: 12px; line-height: 20px; color: #999; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7*/; height: 20px; zoom: 1;}
.nch-breadcrumb i { font-size: 14px; color: #AAA; margin-right: 4px;}
.nch-breadcrumb span.arrow { line-height: 20px; color: #AAA; margin: 0 6px;}
.nch-breadcrumb a { color: #777; display: block; }
.nch-breadcrumb a:hover { color: #4c88e0;}

#search ul.tab { width: 40px; height:42px; margin: 0 2px 0 0; float:left;}
#search ul.tab li { line-height: 21px; color: #fff; background:#C5C5C5; white-space: nowrap; float: left; height: 21px; padding: 0 7px 0px 7px; cursor: pointer;}
#search ul.tab li.current { line-height: 21px; color: #FFF; background:#4c88e0; height: 21px; float: left; padding: 0 7px 0px 7px; margin: 0;}

/*=============================new nav =========================*/
.category{
	width: 212px;
	float: left;
	position: relative;
	z-index: 9999;
	height: 570px;
}

.category ul {
	display:none;
	position: absolute;
	width:212px;
	height: 568px;
	left: 0px;
	top: 0;
	background-color: #4c88e0;
	/*
	-webkit-box-shadow: 2px 2px 5px -3px #999999;
	-moz-box-shadow: 2px 2px 5px -3px #999999;
	box-shadow: 2px 2px 5px -3px #999999;
	*/
	z-index: 99999;
}
.category ul {display: block;}
.category ul li{
	clear: both;
	zoom: 1;
	cursor: default;
	padding-bottom: 7px;
}
.category ul li .tx{
    line-height: 35px;
    height: 35px;
    background-color: #4c88e0;
    padding-left: 10px;
    /* background: url("../images/top_bg.png") no-repeat scroll -150px -10px transparent; */
    _background-image: none;
    border-top: 1px #3966A9 solid;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12);
}
.category ul li .tx .arrow { background: url("../images/top_bg.png") no-repeat scroll -150px -10px transparent;
width: 5px;
height: 9px;
position: absolute;
top: 15px;
right: 7px;    
}

.category ul li .tx a {
	font-size: 14px;
	color: #ffffff;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53;
	-webkit-transition: color 0.1s ease-out 0s;
	-moz-transition: color 0.1s ease-out 0s;
	-ms-transition: color 0.1s ease-out 0s;
	-o-transition: color 0.1s ease-out 0s;
	transition: color 0.1s ease-out 0s;
	width: 185px;
display: block;
position: relative;
}
.category ul li .tx a i {
	height: 25px;
	width: 25px;
	background-position: 0px 0px;
	float: left;
	margin-right: 10px;
	line-height: 25px;
	margin-top: 5px;
	text-decoration: none;
}
/*
.category ul li.a1 .tx a i {background-image: url(/data/upload/shop/common/a1.png);}
.category ul li.a2 .tx a i {background-image: url(/data/upload/shop/common/a2.png);}
.category ul li.a3 .tx a i {background-image: url(/data/upload/shop/common/a3.png);}
.category ul li.a4 .tx a i {background-image: url(/data/upload/shop/common/a4.png);}
.category ul li.a5 .tx a i {background-image: url(/data/upload/shop/common/a5.png);}
.category ul li.a6 .tx a i {background-image: url(/data/upload/shop/common/a6.png);}
.category ul li.a7 .tx a i {background-image: url(/data/upload/shop/common/a7.png);}
.category ul li.a8 .tx a i {background-image: url(/data/upload/shop/common/a8.png);}

.category ul li.a1:hover .tx a i {background-image: url(../images/sub_class/01.png);}
.category ul li.a2:hover .tx a i {background-image: url(../images/sub_class/02.png);}
.category ul li.a3:hover .tx a i {background-image: url(../images/sub_class/03.png);}
.category ul li.a4:hover .tx a i {background-image: url(../images/sub_class/04.png);}
.category ul li.a5:hover .tx a i {background-image: url(../images/sub_class/05.png);}
.category ul li.a6:hover .tx a i {background-image: url(../images/sub_class/06.png);}
.category ul li.a7:hover .tx a i {background-image: url(../images/sub_class/07.png);}
.category ul li.a8:hover .tx a i {background-image: url(../images/sub_class/08.png);}
*/

.category ul li .tx a i {    transition: all 0.2s ease-out; width: 21px; height: 32px; margin-right: 6px;margin-top:2px;  background: url(../../default/images/menuall.png); display: block; overflow: hidden; float: left }
.category ul li.a1 .tx a i { background-position: 0 3px; }
.category ul li.a2 .tx a i { background-position: 0 -27px; }
.category ul li.a3 .tx a i { background-position: 0 -58px; }
.category ul li.a4 .tx a i { background-position: 0 -88px; }
.category ul li.a5 .tx a i { background-position: 0 -118px; }
.category ul li.a6 .tx a i { background-position: -1px -268px; }
.category ul li.a7 .tx a i { background-position: 0 -208px; }
.category ul li.a8 .tx a i { background-position: 0 -178px; }
.category ul li.a9 .tx a i { background-position: 0 -238px; }
.category ul li.a10 .tx a i { background-position: 0 -148px; }
.category ul li.a11 .tx a i { background-position: 0 -298px; }

.category ul li dl.sub_class{
	clear: both;
	color: #ffffff;
	overflow: auto;
	zoom: 1;
	padding-top: 4px;
	height:24px;
}
.category ul li dl
.category ul li dl a{
	color: #d9e7ce;
	line-height: 22px;
	float: left;
	margin-right: 6px;
	margin-left: 6px;
	white-space: nowrap;
	-webkit-transition: color 0.1s ease-out 0s;
	-moz-transition: color 0.1s ease-out 0s;
	-ms-transition: color 0.1s ease-out 0s;
	-o-transition: color 0.1s ease-out 0s;
	transition: color 0.1s ease-out 0s;
}
.category ul li dt {
	width: 30px;
	padding-left: 10px;
	float: left;
	padding-top: 4px;
}
.category ul li dl.sub_class dd {
	float: left;
	width: 202px;
	line-height: 22px;
	padding-top: 2px;
	padding-left: 10px;

}
.category ul li dd a{ color: #fff;}
.category ul li dl.sub_class dd a{
margin: 0 6px;
float: left;
white-space: nowrap;
}
.category ul li .pop{
	display: none;
	background-color: #fcfcfc;
	width: 640px;
	min-height: 540px;
	position: absolute;
	left: 190px;
	top: 0px;
	-webkit-box-shadow: 4px 4px 5px -1px #999999;
	-moz-box-shadow: 4px 4px 5px -1px #999999;
	box-shadow: 4px 4px 5px -1px #999999;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: solid 2px #fff\9;
	border-left: none\9;
	border-top: none\9;
	height: 458px\9;
}
.category ul li .pop h3  {
	font-size: 14px;
	display: none;
}

.category ul li .pop dl{
    padding-top: 6px;
    padding-bottom: 6px;
    color: #666666;
    border-top: 1px #E8E8E8 dashed;
}
.category ul li .pop dl:first-child {
	border: 0;
}

.category ul li .pop dt a{
	color: #dd2528;
	margin-right: 12px;
	margin-left: 12px;
	font-weight:900;
	text-decoration:underline;
}
.category ul li .pop dl:hover{
	background-color: #f3f3f3;
}
.category ul li .pop dd a{
	color: #666666;
	margin-right: 12px;
	margin-left: 12px;
}
.category ul li .pop dl a.un {
	color: #a5a5a5;
}

.category ul li .pop dt {
    width: 150px;
    padding-left: 0px;
    padding-top: 1px;
}
.category ul li .pop dd {
	overflow: hidden;
}
.category ul li .pop dd em {
float: left;
height: 14px;
margin: 4px 0;
line-height: 14px;
padding: 0 8px;
border-left: 1px solid #ccc;
}
.category ul li .pop .act  {
	height: 80px;
	padding-top: 10px;
	width: 640px;
	overflow: hidden;
	position: absolute;
    bottom: 10px;
}
.category:hover ul {
	display: block;
}
.category ul li:hover {
	background-color: #3966A9;
}
.category ul li:hover .tx {
	background-color: #3966A9;
}
.category ul li:hover .tx a {
	color: #fff;
}
.category ul li:hover .tx a:hover {
    color: #fff;
}
.category ul li:hover .tx a i {
	background-position-x: -21px;
}
.category ul li:hover .pop{
	display: block;
	left: 212px;
	top: 0px;
}
.category ul li:hover .pop dl a.un{
	color: #a5a5a5;
	text-decoration: none;
}
.category ul li:hover dl {
	color: #6e6e6e;
}
.category ul li:hover a {
	/*color: #666666;*/
}
.category ul li:hover a:hover{
	/*color: #cd0606;*/
}

