{set:
	$myCartObj  = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
	$callback   = IReq::get('callback') ? urlencode(IFilter::act(IReq::get('callback'),'url')) : '';
}
	<!DOCTYPE html>
	<html lang="zh-CN">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{echo:$siteConfig->name}</title>
    <link type="image/x-icon" href="/favicon.ico" rel="icon">
    <link rel="stylesheet" href="../skin/default/css/index.css" path="css" />
    <link rel="stylesheet" href="../skin/default/css/global.css" path="css" />
    <link href="../skin/default/css/animate.min.css" rel="stylesheet" path="css" />
    <meta property="qc:admins" content="352014713170263757" />
    {js:jquery}
    {js:form}
    {js:validate}
    {js:dialog}
    <script type='text/javascript' src="../javascript/common.js" path="js"></script>
    <script type='text/javascript' src='../javascript/site.js' path="js"></script>
    {set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
    </head>
    <body class="mall">
    <div class="header">
    <div class="header_top">
      <div class="header_top_center">
        <div class="header_top_right">
          <li class="imyeah"> <a href="{url:/ucenter/index}">我的优购<em class="icn icn_gay_down"></em></a>
            <ul style="width:120px">
              <li><a id="nav_1" href="{url:/ucenter/index}">个人中心</a></li>
              <li><a id="nav_2" href="{url:/ucenter/order}">我的订单</a></li>
              <li><a id="nav_3" href="{url:/ucenter/redpacket}">我的优惠券</a></li>
              <li><a id="nav_4" href="{url:/ucenter/favorite}">我的收藏</a></li>
              <li><a id="nav_5" href="{url:/ucenter/evaluation}">我的评价</a></li>
              <li><a id="nav_6" href="{url:/ucenter/address}">收货信息</a></li>
              <li><a id="nav_7" href="{url:/ucenter/info}">个人资料</a></li>
              <li><a id="nav_8" href="{url:/ucenter/integral}">我的积分</a></li>
              <li><a id="nav_9" href="{url:/ucenter/account_log}">帐户余额</a></li>
              <li><a id="nav_10" href="{url:/ucenter/online_recharge}">在线充值</a></li>
              <li><a id="nav_11" href="{url:/ucenter/refunds}">退款申请</a></li>
              <li><a id="nav_12" href="{url:/ucenter/message}">短信息</a></li>
            </ul>
          </li>
          <span class="htr_line"></span>
          <li class="imyeah"> <a href="{url:/sellermain/index}">我要入驻<em class="icn icn_gay_down"></em></a>
            <ul style="width:120px">
              <li><a id="nav_1" href="{url:/sellermain/index}">商家登陆</a></li>
              <li><a id="nav_2" href="{url:/simple/seller}">商家入驻</a></li>
            </ul>
          </li>
          <span class="htr_line"></span>
          <li class="imyeah"><a href="#"><em class="icn icn_mob"></em>手机访问<em class="icn icn_gay_down"></em></a>
            <ul style="left:-60px">
              <li>访问手机版<img src="{skin:images/100x100wap.png}" border="0"></li>
            </ul>
          </li>
          <span class="htr_line"></span>
          <li> <a href="{url:/site/help_list}" target="_blank">帮助中心</a></li>
        </div>
        <div class="header_top_left">
          <li> <a href="{url:}">您好，欢迎您来到{echo:$siteConfig->name}！</a></li>
          <span class="htr_line"></span> {if:$this->user}
          <li class="fl">欢迎&nbsp;&nbsp;{echo:$this->user['username']}</li>
          <li> <a href="{url:/simple/logout}">安全退出</a> </li>
          {else:}
          <li> <a href="{url:/simple/login?callback=$callback}">请登录</a></li>
          <li> <a href="{url:/simple/reg?callback=$callback}">免费注册</a></li>
          {/if} </div>
      </div>
    </div>
    <div class="header_center">
      <div class="header_center_container clear">
        <div class="header_top_logo"><a href="{url:/site/index}"><img alt="" src="{if:$siteConfig->logo}{webroot:$siteConfig->logo}{else:}{skin:sjl/images/logo.png}{/if}" border="0"></a></div>
        <div class="hd_prism_wrap" id="hdPrismWrap">
          <div class="hd_prism hd_order"> <a href="{url:/ucenter/order}" class="hd_prism_tab"><em></em>
            <p>订单查询</p>
            </a> </div>
          <div class="hd_mini_cart mycart"><a class="hd_prism_cart" href="{url:/simple/cart}"><em name="mycart_count" class="emArrow">{$myCartInfo['count']}</em><i class="acart"></i>购物车</a> 
            <!--购物车浮动div 开始-->
            <div class="shopping" id="div_mycart" style="display:none">
              <dl class="cartlist" id="cartlist">
              </dl>
            </div>
            <!--购物车浮动div 结束--> 
            
          </div>
        </div>
        <div class="header_top_searchbox">
          <form action="{url:/}" method="get">
            <div class="header_top_search ">
              <input class="header_search_submit mallClickStream" value="搜 索" type="submit" onclick="checkInput('word','输入关键字...');" />
              <input class="header_top_search_input" name='word' autocomplete="off" value="{$word}" type="text" />
              <input type='hidden' name='controller' value='site' />
              <input type='hidden' name='action' value='search_list' />
            </div>
            <ul class="auto_list">
            </ul>
          </form>
          <div class="header_top_searchkey">热门: {set:$classArray = array('bold f_c_e81a62','f_c_e81a62');$colorIndex=0;}
            {foreach:items=Api::run('getKeywordAllList',5)}
            {set:$keyword=urlencode($item['word']);} <a href="{url:/site/search_list/word/$keyword}">{$item['word']}</a> {set:$colorIndex++;}
            {/foreach}<a href="{url:site/tags}">更多</a></div>
          <!--自动完成div 开始-->
          <ul class="auto_list" style='display:none'>
          </ul>
        </div>
      </div>
      <div class="header_bottom clear">
        <div class="header_wrap"><span class="header_bottom_ico"></span></div>
        <ul class="header_nav">
          <li class="first allsort"> <a class="textShadow1">全部商品分类</a> <em class="icn_white_down" name="icn_arrow"></em>
            <ul class="mall_index_shop sortlist" id='div_allsort' style='display:none'>
              {set:$sortIcon=1;}
              {foreach:items=Api::run('getCategoryListTop') item=$first}
              {set:$sortIcon++;}
              {set:$clasdId=$first['id'];}
              <li> <em class="icon{$sortIcon}">&nbsp;</em><em class="icn_ps_r"></em> <a href="{url:/site/pro_list/cat/$first[id]}" target="_blank">{$first['name']}</a> 
              <div class="subnav">{foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id']),3) item=$second} <a href="{url:/site/pro_list/cat/$second[id]}" target="_blank">{$second['name']}</a>{/foreach}</div>
                <div class="ps_bg_f7f7f7 sublist" style="display:none;">
                <div class="top clear"> {foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$first['id']))  item=$second}
                  <div class="box">
                    <h4><a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a></h4>
                    <div class="box_a"> {foreach:items=Api::run('getCategoryByParentid',array('#parent_id#',$second['id']))  item=$third} <a href="{url:/site/pro_list/cat/$third[id]}" target="_blank">{$third['name']}</a>{/foreach} </div>
                  </div>
                  {/foreach} </div>
                <!--                 <div class="boxbrand">
                    <h4>推荐品牌</h4>
                    {query:name=brand where=category_ids eq $clasdId limit=0,6}
                    {set:$tmpId=$item[id];} <a href="{url:/site/brand_zone/id/$tmpId}" target="_blank"> <img class="cateLazy" src="{webroot:$item[logo]}" height="38" width="80" /> </a> {/query} </div>
                </div>--> 
              </li>
              {/foreach}
              <!--<li class="last">{foreach:items=Api::run('getadmanageid',array('#position_id#','15')) item=$second} <a href="{$second['link']}"><img src="{url:$second['content']}" width="188" height="74"></a> {/foreach} </li>-->
            </ul>
          </li>
          <li class="textShadow"><a href="{url:/site/index}">首页</a></li>
          {foreach:items=Api::run('getGuideList')}
          <li class="textSplit">/</li>
          <li class="textShadow"><a href="{url:$item[link]}">{$item['name']}</a></li>
          {/foreach}
        </ul>
      </div>
    </div>
    {viewcontent}
    <div class="mall_genuine_box">
      <div class="mall_genuine_red">
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_zheng_b"></em></a> </dt>
          <dd>假一赔十</dd>
        </dl>
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_di_b"></em></a> </dt>
          <dd>贵一赔三</dd>
        </dl>
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_piao_b"></em></a> </dt>
          <dd>正规发票</dd>
        </dl>
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_jia_b"></em></a> </dt>
          <dd>价优货实</dd>
        </dl>
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_pei_b"></em></a> </dt>
          <dd>先行赔付</dd>
        </dl>
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_tui_b"></em></a> </dt>
          <dd>退换无忧</dd>
        </dl>
        <dl>
          <dt> <a target="_blank" href="#"><em class="icn48 icn_song_b"></em></a> </dt>
          <dd>定时发货</dd>
        </dl>
      </div>
      <div class="shop_direct_dl">
        <dl>
          <dt>购物指南</dt>
          {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',3),4)}
          <dd><a href="{url:/site/help/id/$item[id]}" target="_blank">{$item['name']}</a></dd>
          {/foreach}
        </dl>
        <dl>
          <dt>支付帮助</dt>
          {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',4),4)}
          <dd><a href="{url:/site/help/id/$item[id]}" target="_blank">{$item['name']}</a></dd>
          {/foreach}
        </dl>
        <dl>
          <dt>配送帮助</dt>
          {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',6),4)}
          <dd><a href="{url:/site/help/id/$item[id]}" target="_blank">{$item['name']}</a></dd>
          {/foreach}
        </dl>
        <dl>
          <dt>帮助信息</dt>
          {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',7),4)}
          <dd><a href="{url:/site/help/id/$item[id]}" target="_blank">{$item['name']}</a></dd>
          {/foreach}
        </dl>
        <dl>
          <dt>售后服务</dt>
          {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',5),4)}
          <dd><a href="{url:/site/help/id/$item[id]}" target="_blank">{$item['name']}</a></dd>
          {/foreach}
        </dl>
        <dl>
          <dt style="padding-left:20px">淘黄州找宝</dt>
          <dd> <img src="{skin:images/100x100.jpg}" border="0"> </dd>
        </dl>
        <dl class="last">
          <dt style="padding-left:10px">淘黄州手机版</dt>
          <dd> <img src="{skin:images/100x100wap.png}" border="0"> </dd>
        </dl>
      </div>
    </div>
    <div class="footer" id="footerHeight">
      <div class="footer_bottom">
        <div class="footer_bottom_container"> 
          <!--<div class="fbc_menu">
            <ul>
              {set:$line=0;}
              {foreach:items=Api::run('getHelpListByCatidAll',array('#cat_id#',7),0)}
              {set:$line++;}
              <li><a href="{url:/site/help/id/$item[id]}" target="_blank" {if:$line==1}class="first" {/if}>{$item['name']}</a></li>
              {/foreach}
            </ul>
          </div>-->
          <div style="text-align:center"><p class="links">
    <a class="link_a">关于我们</a>|<a class="link_a">常见问题</a>|<a class="link_a">安全交易</a>|<a class="link_a">购买流程</a>|<a class="link_a">如何付款</a>|<a class="link_a">联系我们</a>|<a class="link_a">合作提案</a>
</p>
<p class="copyright">
    &nbsp; &nbsp;		Powered by <a href="http://www.itaohz.com">itaohz.com</a>
</p>
<p class="copyys" >
    Copyright © 2015 <ahref="http://www.miibeian.gov.cn/" target="_blank">鄂ICP备15000956号</a>
</p></div>
          <div class="fbc_icpico"> <a href="javascript:;"><span class="fbc_ico1"></span></a> <a href="javascript:;"><span class="fbc_ico2"></span></a> <a href="javascript:;"><span class="fbc_ico3"></span></a> <a href="javascript:;"><span class="fbc_ico4"></span></a> </div>
        </div>
      </div>
    </div>
    <div class="cart_bar">
      <div class="cart_wrap">
        <div class="whole">
          <div class="cart_top">
            <div class="cart_bills cart_common"> <a href="{url:/ucenter/order}" class="link_bar cart_bills_link">
              <dl>
              <dt></dt>
              <dd>订单</dd>
            </dl>
              <em class="triangle_ico_right"></em> </a>
              <div style="left: 0px;" class="cart_bar_tips"> <a href="{url:/ucenter/order}" class="cart_bills_link">我的订单</a> </div>
            </div>
            <div class="cart_coupon cart_common"> <a href="{url:/ucenter/redpacket}" class="link_bar cart_coupon_link">
              <dl>
              <dt></dt>
              <dd>券</dd>
            </dl>
              <em class="triangle_ico_right"></em> </a>
              <div style="left:0px;" class="cart_bar_tips"> <a href="{url:/ucenter/redpacket}" class="cart_coupon_link">我的优惠券</a> </div>
            </div>
            <div class="cart_service cart_common"> <a href="javascript:;" class="link_bar cart_service_link">
              <dl>
              <dt></dt>
              <dd>客服</dd>
            </dl>
              <em class="triangle_ico_right"></em> </a>
              <div style="left: 0px;" class="cart_bar_tips"> <a href="javascript:;" class="cart_service_link">在线咨询</a> </div>
            </div>
          </div>
          <div class="cart_middle">
            <div class="cart_num"> <a href="{url:/simple/cart}" class="cart_link">
              <dl>
              <dt></dt>
              <dd class="cart_text">购物车</dd>
              <dd class="cart_figure" name="mycart_count">{$myCartInfo['count']}</dd>
            </dl>
              </a> </div>
          </div>
        </div>
        <div class="cart_bottom"> <a href="javascript:;" class="link_bar cart_bottom_link">
          <dl>
          <dt></dt>
        </dl>
          <em class="triangle_ico_right"></em> </a>
          <div style="left:0px;" class="cart_bar_tips"><a href="javascript:;" class="cart_bottom_link">返回顶部</a></div>
        </div>
        <div class="shopping_list"> </div>
      </div>
    </div>
    <script type='text/javascript'>
$(function()
{


	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
	});

	//var mycartLateCall = new lateCall(200,function(){showCart('{url:/simple/showCart}')});

	//购物车div层
	$('.mycart').hover(
		function(){
			$.getJSON('{url:/simple/showCart}',{sign:Math.random()},function(content)
			{
				var cart;// = template.render('cartTemplete',{'goodsData':content.data,'goodsCount':content.count,'goodsSum':content.sum});
				cart = '<dd class="static">你的购物车还没有商品</dd>';
				if(parseInt(content.count) > 0){
					cart = '';
					for(var item in content.data){
					var data = content.data[item]
					cart += '<dd id="site_cart_dd_'+item+'">'+
						'<div class="pic f_l"><img width="55" height="55" src="'+data["img"]+'"></div>'+
						'<h3 class="title f_l" style="margin-left:7px;"><a href="{url:site/products/id/'+data[goods_id]+'}">'+data[name]+'</a></h3>'+
						'<div class="f_r t_r">'+
							'<b class="block">￥'+data['sell_price']+' x '+data['count']+'</b>'+
							'<input class="del" type="button" value="删除" onclick="removeCart('+data[id]+','+data[type]+');$(this).parent().parent().remove();" />'+
						'</div></dd>'
					}
					
					cart +='<dd class="static"><span>共<b name="mycart_count">'+content.count+'</b>件商品</span>金额总计：<b name="mycart_sum">￥'+content.sum+'</b></dd>';
					
					if(goodsData){
					cart +='<dd class="static"><label class="btn_orange"> <a href="{url:/simple/cart}">去购物车结算</a></label></dd>';
					};				
				};
				
				$('#cartlist').html(cart);
				$('#div_mycart').show();
			});
		},
		function(){
			$('#div_mycart').hide('slow');
		}
	);

});

//[ajax]加入购物车
function joinCart_ajax(id,type)
{
	$.getJSON("{url:/simple/joinCart}",{"goods_id":id,"type":type,"random":Math.random()},function(content){
		if(content.isError == false)
		{
			var count = parseInt($('[name="mycart_count"]').html()) + 1;
			$('[name="mycart_count"]').html(count);
			alert(content.message);
		}
		else
		{
			alert(content.message);
		}
	});
}

//列表页加入购物车统一接口
function joinCart_list(id)
{
	$.getJSON('{url:/simple/getProducts}',{"id":id},function(content){
		if(!content)
		{
			joinCart_ajax(id,'goods');
		}
		else
		{
			var url = "{url:/block/goods_list/goods_id/@goods_id@/type/radio/is_products/1}";
			url = url.replace('@goods_id@',id);
			artDialog.open(url,{
				id:'selectProduct',
				title:'选择货品到购物车',
				okVal:'加入购物车',
				ok:function(iframeWin, topWin)
				{
					var goodsList = $(iframeWin.document).find('input[name="id[]"]:checked');

					//添加选中的商品
					if(goodsList.length == 0)
					{
						alert('请选择要加入购物车的商品');
						return false;
					}
					var temp = $.parseJSON(goodsList.attr('data'));

					//执行处理回调
					joinCart_ajax(temp.product_id,'product');
					return true;
				}
			})
		}
	});
}
</script>
{echo:browse::online()}
    </body>
    </html>
