{set:
	$seo_data    = array();
	$site_config = new Config('site_config');
	$site_config = $site_config->getInfo();
	$seo_data['title'] = "找回密码_".$site_config['name'];
	seo::set($seo_data);
}

<div class="pageContentWrapper">
<form id="fp_form">
    <fieldset>

    <div class="formFieldWrapper">
      <em for="registerUserNameField">用户名:</em>
      <input type="text" id="username" class="loginNameField" pattern="required" alt="请输入正确的用户名"/>
    </div>

    <div class="formFieldWrapper">
      <em for="registerEmailField">邮箱:</em>
      <input type="text" id="useremail" class="loginMailField" pattern="email" alt="请输入正确的邮件地址" />
    </div>

    <div class="formFieldWrapper">
      <em for="registerEmailField">验证码:</em>
      <input type="text" id="captcha" class="loginCodeField" pattern='^\w{5,10}$' alt="请输入验证码"/>
      <br /><a href="javascript:changeCaptcha('{url:/simple/getCaptcha}');"><img src='{url:/simple/getCaptcha}' id='captchaImg' /><span class="light_gray">看不清？&nbsp;换一张</span></a>
    </div>
    
    <div class="formFieldWrapper">
    <input type="button" value="找回密码" class="loginButton fieldWithIcon" onclick="submit_passwordfind(this);" style="color:#fff; cursor:pointer;">
    </div>
    
    <div class="loginButtonsWrapper">
    <a href="{url:/simple/login/}" class="loginRegisterButton">登陆</a> <a href="{url:/simple/reg/}" class="loginRecoverButton">注册</a>
    </div>
    
    </fieldset>
</form>

      <div class="lyalertBox" id="fp_success" style="display:none;">
          <p class="alertBoxContent">
          <strong class="f14">恭喜，请去邮箱查收邮件！</strong><br/>
          修改密码的地址已经发送到您的邮箱，请注意查收！<br/>
          您现在可以去：<a href="{url:/site/}">商城首页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{url:/ucenter/}">用户中心</a>
          </p>
      </div>
</div>


<script language="javascript">
$().ready(
	function(){$(".form_table input:text").focus(function(){$(this).addClass('current');}).blur(function(){$(this).removeClass('current');}) ;}
);

function submit_passwordfind(obj){
	obj.disabled = true;
	var username=$("#username").val();
	var useremail=$("#useremail").val();
	var captcha=$("#captcha").val();
	if(username=="" || useremail=="" || captcha==""){
		alert('请填写信息');
		obj.disabled = false;
		return;
	}

	$.get("{url:/wap/do_find_password/}",{'username':username,'useremail':useremail,"captcha":captcha},function(c){
		if(c=='success'){
			$("#fp_form").hide();
			$("#fp_success").show('fast');
		}else{
			alert(c);
			obj.disabled = false;
		}
	});
}


//切换验证码
function changeCaptcha(urlVal){
	var radom = Math.random();
	if( urlVal.indexOf("?") == -1 ){
		urlVal = urlVal+'/'+radom;
	}else{
		urlVal = urlVal + '&random'+radom;
	}
	$('#captchaImg').attr('src',urlVal);
}
</script>
